@model CMS_DTO.CMSProcedures.CMS_ProceduresViewModels
<div class="wrapper">
    <div class="inner-wrapper">
        <div id="main">
            <section class='title-section'>
                <div class="title-wrapper">
                    <div class="container">
                        <div class="border-title aligncenter">
                            <h1>Dịch vụ và liệu trình</h1>
                            <h6>Lamode Spa sẵn sàng phục vụ bạn.</h6>
                        </div>
                    </div>
                </div>
            </section>
            <section id="primary" class="content-full-width">
                <div id="post-121" class="post-121 page type-page status-publish hentry">
                    <p>
                        <img class="alignnone" style="margin-top: -35px;" src="@Url.Content("~/Images/static-banner.jpg")" alt="procedure-header-image" width="1920" height="420" />
                    </p>
                    <br />
                    <div class='dt-sc-hr-invisible-small  '></div>
                    <div class='fullwidth-section ' style="background-repeat:no-repeat;background-position:left top;">
                        <div class="container">
                            <div class='dt-sc-hr-invisible  '></div>
                            <h2>Các liệu trình và dịch vụ:</h2>
                        </div>
                    </div>


                </div>

                <div class='fullwidth-section skin-color' style="background-color:#e7e5d9;background-image:url(https://dreamspa.dttheme.com/wp-content/uploads/2014/05/border.png);background-repeat:repeat-x;background-position:left top;padding-top:75px;padding-bottom:20px;">
                    <div class="container">
                        <div class='column dt-sc-one-fourth  space first'>
                            <ul class='dt-sc-fancy-list  onepage arrow'>
                                <li><a href="#goto1">Massage</a></li>
                                <li><a href="#goto2">Chăm sóc da</a></li>
                                <li><a href="#goto3">Spa thảo dược</a></li>
                            </ul>
                        </div>
                        <div class='column dt-sc-one-fourth  space '>
                            <ul class='dt-sc-fancy-list  onepage arrow'>
                                <li><a href="#goto4">Thực dưỡng</a></li>
                                @*<li><a>Hydrotherapy</a></li>
                                <li><a>Electrotherapy</a></li>*@
                            </ul>
                        </div>
                        <div class='column dt-sc-one-fourth  space '>
                            <ul class='dt-sc-fancy-list   arrow'>
                                @*<li><a>Phototherapy</a></li>
                                <li><a>Heat therapy</a></li>
                                <li><a>Baths</a></li>*@
                            </ul>
                        </div>
                        <div class='column dt-sc-one-fourth  space '>
                            <ul class='dt-sc-fancy-list   arrow'>
                                @*<li><a>Aromatherapy</a></li>
                                <li><a>Skin Care</a></li>
                                <li><a>NHerbal Spa</a></li>*@
                            </ul>
                        </div>
                    </div>
                </div>
                @if (Model != null && Model.ListProcedures != null && Model.ListProcedures.Any())
                {
                    var _index = 1;
                    foreach (var item in Model.ListProcedures)
                    {
                        if (_index % 2 != 0)
                        {
                            <div id='goto@_index' class='fullwidth-section skin-white' style="background-color:#fcfcf7;background-image:url(@Url.Content("~/Images/border.png"));background-repeat:repeat-x;background-position:left top;padding-top:60px;padding-bottom:50px;">
                                <div class="container">
                                    <div class='column dt-sc-one-third  space first'>
                                        <div class="dt-sc-popular-procedures with-image">
                                            <div class="dt-sc-popular-procedures-wrapper">
                                                <div class="border"></div>
                                                <div class='image'><img src='@item.ImageUrl' alt='@item.ProceduresName' /></div>
                                                <h2>@item.ProceduresName</h2><span class='duration'>Thời gian: @item.Duration</span><span class='price'>@item.Price.ToString("#,0")VNĐ</span>
                                                <p>@item.ShortDescription</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='column dt-sc-two-third  space '>
                                        <div class='dt-sc-hr-invisible-medium  '></div>
                                        <div class='dt-sc-hr-invisible  '></div>
                                        <div class='dt-sc-tabs-container aligncenter'>
                                            <ul class="dt-sc-tabs-frame">
                                                <li><a href="#"><span>01</span> Chuẩn bị</a></li>
                                                <li><a href="#"><span>02</span> Trình tự</a></li>
                                                <li><a href="#"><span>03</span> Điều trị</a></li>
                                            </ul>
                                            <div class="dt-sc-tabs-frame-content">
                                                <p>@item.Preparation</p>
                                                <div class='dt-sc-hr-invisible  '></div>
                                                <p style="font-size: 16px; color: #37251b;">Hiệu quả</p>
                                                <div class='dt-sc-hr-invisible-small  '></div>
                                                <div class="dt-sc-clear"></div>
                                                <ul class='dt-sc-fancy-list  green  tick'>
                                                    <li>Makes the body slenderer and the figure more beautiful</li>
                                                    <li>Effectively reduces cellulite problems</li>
                                                    <li>Cleanses the body of waste substances and repairs blood and lymphatic circulation</li>
                                                    <li>Makes the skin smoother, more elastic, softer and revitalises dry skin</li>
                                                    <li>Reduces muscular and joint pains</li>
                                                    <li>Relaxes, refreshes and gives a wonderful feeling, reduces fatigue and stress</li>
                                                </ul>
                                            </div>
                                            <div class="dt-sc-tabs-frame-content">
                                                <p>@item.Process</p>
                                                <div class='dt-sc-hr-invisible  '></div>
                                                <p style="font-size: 16px; color: #37251b;">Hiệu quả</p>
                                                <div class='dt-sc-hr-invisible-small  '></div>
                                                <div class="dt-sc-clear"></div>
                                                <ul class='dt-sc-fancy-list  green  tick'>
                                                    <li>Makes the body slenderer and the figure more beautiful</li>
                                                    <li>Effectively reduces cellulite problems</li>
                                                    <li>Cleanses the body of waste substances and repairs blood and lymphatic circulation</li>
                                                    <li>Makes the skin smoother, more elastic, softer and revitalises dry skin</li>
                                                    <li>Reduces muscular and joint pains</li>
                                                    <li>Relaxes, refreshes and gives a wonderful feeling, reduces fatigue and stress</li>
                                                </ul>
                                            </div>
                                            <div class="dt-sc-tabs-frame-content">
                                                <p>@item.SpaTreatment</p>
                                                <div class='dt-sc-hr-invisible  '></div>
                                                <p style="font-size: 16px; color: #37251b;">Hiệu quả</p>
                                                <div class='dt-sc-hr-invisible-small  '></div>
                                                <div class="dt-sc-clear"></div>
                                                <ul class='dt-sc-fancy-list  green  tick'>
                                                    <li>Makes the body slenderer and the figure more beautiful</li>
                                                    <li>Effectively reduces cellulite problems</li>
                                                    <li>Cleanses the body of waste substances and repairs blood and lymphatic circulation</li>
                                                    <li>Makes the skin smoother, more elastic, softer and revitalises dry skin</li>
                                                    <li>Reduces muscular and joint pains</li>
                                                    <li>Relaxes, refreshes and gives a wonderful feeling, reduces fatigue and stress</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div id='goto@_index' class='fullwidth-section skin-white' style="background-color:#fcfcf7;background-image:url(@Url.Content("~/Images/border.png"));background-repeat:repeat-x;background-position:left top;padding-top:60px;padding-bottom:50px;">
                                <div class="container">
                                    <div class='column dt-sc-two-third  space first'>
                                        <div class='dt-sc-hr-invisible-medium  '></div>
                                        <div class='dt-sc-hr-invisible  '></div>
                                        <div class='dt-sc-tabs-container aligncenter'>
                                            <ul class="dt-sc-tabs-frame">
                                                <li><a href="#"><span>01</span> Chuẩn bị</a></li>
                                                <li><a href="#"><span>02</span> Trình tự</a></li>
                                                <li><a href="#"><span>03</span> Điều trị</a></li>
                                            </ul>
                                            <div class="dt-sc-tabs-frame-content">
                                                <p>@item.Preparation</p>
                                                <div class='dt-sc-hr-invisible  '></div>
                                                <p style="font-size: 16px; color: #37251b;">Hiệu quả</p>
                                                <div class='dt-sc-hr-invisible-small  '></div>
                                                <div class="dt-sc-clear"></div>
                                                <ul class='dt-sc-fancy-list  green  tick'>
                                                    <li>Makes the body slenderer and the figure more beautiful</li>
                                                    <li>Effectively reduces cellulite problems</li>
                                                    <li>Cleanses the body of waste substances and repairs blood and lymphatic circulation</li>
                                                    <li>Makes the skin smoother, more elastic, softer and revitalises dry skin</li>
                                                    <li>Reduces muscular and joint pains</li>
                                                    <li>Relaxes, refreshes and gives a wonderful feeling, reduces fatigue and stress</li>
                                                </ul>
                                            </div>
                                            <div class="dt-sc-tabs-frame-content">
                                                <p>@item.Process</p>
                                                <div class='dt-sc-hr-invisible  '></div>
                                                <p style="font-size: 16px; color: #37251b;">Hiệu quả</p>
                                                <div class='dt-sc-hr-invisible-small  '></div>
                                                <div class="dt-sc-clear"></div>
                                                <ul class='dt-sc-fancy-list  green  tick'>
                                                    <li>Makes the body slenderer and the figure more beautiful</li>
                                                    <li>Effectively reduces cellulite problems</li>
                                                    <li>Cleanses the body of waste substances and repairs blood and lymphatic circulation</li>
                                                    <li>Makes the skin smoother, more elastic, softer and revitalises dry skin</li>
                                                    <li>Reduces muscular and joint pains</li>
                                                    <li>Relaxes, refreshes and gives a wonderful feeling, reduces fatigue and stress</li>
                                                </ul>
                                            </div>
                                            <div class="dt-sc-tabs-frame-content">
                                                <p>@item.SpaTreatment</p>
                                                <div class='dt-sc-hr-invisible  '></div>
                                                <p style="font-size: 16px; color: #37251b;">Hiệu quả</p>
                                                <div class='dt-sc-hr-invisible-small  '></div>
                                                <div class="dt-sc-clear"></div>
                                                <ul class='dt-sc-fancy-list  green  tick'>
                                                    <li>Makes the body slenderer and the figure more beautiful</li>
                                                    <li>Effectively reduces cellulite problems</li>
                                                    <li>Cleanses the body of waste substances and repairs blood and lymphatic circulation</li>
                                                    <li>Makes the skin smoother, more elastic, softer and revitalises dry skin</li>
                                                    <li>Reduces muscular and joint pains</li>
                                                    <li>Relaxes, refreshes and gives a wonderful feeling, reduces fatigue and stress</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='column dt-sc-one-third  space '>
                                        <div class="dt-sc-popular-procedures with-image">
                                            <div class="dt-sc-popular-procedures-wrapper">
                                                <div class="border"></div>
                                                <div class='image'><img src='@item.ImageUrl' alt='@item.ProceduresName' /></div>
                                                <h2>@item.ProceduresName</h2><span class='duration'>Thời gian: @item.Duration</span><span class='price'>@item.Price.ToString("#,0")VNĐ</span>
                                                <p>@item.ShortDescription</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        _index = _index + 1;
                    }
                }





                <div class='fullwidth-section ' style="background-image:url(@Url.Content("~/Images/border.png"));background-repeat:repeat-x;padding-top:95px;">
                    <div class="container">
                        <h2>KHUYẾN MÃI ĐẶC BIỆT TRONG NGÀY HÔM NAY</h2>
                        @if (Model.LstDiscount != null && Model.LstDiscount.Any())
                        {
                            <div class='dt-sc-images-carousel-wrapper' data-min='1' data-max='2' data-width='520'>
                                <ul class='dt-sc-images-carousel'>
                                    @if (Model.LstDiscount != null && Model.LstDiscount.Any())
                                    {
                                        foreach (var item in Model.LstDiscount)
                                        {
                                            <li>
                                                <a href="javascript:void(0)">
                                                    <img title="@item.Name" src="@item.ImageURL" alt="@item.Name" />
                                                </a>
                                            </li>
                                        }
                                    }
                                </ul>
                                <div class="carousel-arrows">
                                    <a href="" class="images-carousel-prev">
                                        <span class="fa fa-angle-left"> </span>
                                    </a>
                                    <a href="" class="images-carousel-next">
                                        <span class="fa fa-angle-right"> </span>
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="container">
                    <div class="social-bookmark"></div>
                    <div class="social-share"></div>
                </div>
            </section>
        </div>
    </div>
</div>