@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model CMS_DTO.CMSNews.CMS_NewsViewModel
@using CMS_Shared;

<div id="main">
    <section class='title-section'>
        <div class="title-wrapper">
            <div class="container">
                <div class="border-title aligncenter">
                    <h1>Blog</h1>
                    <h6>We love to write about our experience and our story.</h6>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <section id="primary" class="content-full-width">
            <div id="post-123" class="post-123 page type-page status-publish hentry">
                <div class="social-bookmark"></div>
                <div class="social-share"></div>
            </div>
            <div class="dt-sc-clear" style="padding-bottom: 55px; "></div>
            <div class='tpl-blog-holder'>
                @if (Model.ListNewsNew != null && Model.ListNewsNew.Any())
                {
                    foreach (var item in Model.ListNewsNew)
                    {
                        if (item.Type == (byte)Commons.EBlogType.Image)
                        {
                            <div class="column dt-sc-one-column blog-fullwidth first">
                                <article id="post-207" class="blog-entry post-207 post type-post status-publish format-standard has-post-thumbnail hentry category-therapy tag-lifestyle tag-spa">
                                    <div class="blog-entry-inner">
                                        <div class="entry-meta">
                                            <div class="date">
                                                <span>
                                                    @Html.Raw(string.Format("{0}", item.UpdatedDate.Day))
                                                    <br> @Html.Raw(string.Format("{0}", item.UpdatedDate.Month))
                                                    <br> @Html.Raw(string.Format("{0}", item.UpdatedDate.Year))
                                                </span>
                                            </div>
                                            <p class="comments">
                                                <a href="javascript:void(0)">
                                                    <span class="fa fa-comments"> </span> 0
                                                </a>
                                            </p>
                                        </div>
                                        <div class="entry-thumb">
                                            <a href="@Url.Action("BlogDetail", "Blog", new { id=item.Id })" title="@item.Title">
                                                <img width="920" height="536" src="@item.ImageURL"
                                                     class="attachment-blog-one-column size-blog-one-column wp-post-image" alt="" srcset="@item.ImageURL 1060w, @item.ImageURL 300w, @item.ImageURL 1024w"
                                                     sizes="(max-width: 920px) 100vw, 920px" />
                                            </a>
                                        </div>
                                        <div class="entry-details">
                                            <div class="entry-title">
                                                <h4>
                                                    <a href="javascript:void(0)" title="@item.Title">@Html.Raw(item.Title)</a>
                                                </h4>
                                            </div>
                                            <div class="entry-metadata">
                                                <p class="author">
                                                    <i class="fa fa-user"> </i>
                                                    <a href="javascript:void(0)" title="@item.Title">@Html.Raw(item.Author)</a>
                                                </p>
                                                <span class=""> | </span>
                                                <p class='tags tags'>
                                                    <i class='fa fa-tags'> </i>
                                                    <a href="javascript:void(0)" rel="tag">@item.Source</a>,
                                                    <a href="javascript:void(0)" rel="tag">Spa</a>
                                                </p>
                                                <span class='tags'> | </span>
                                                <p class="category">
                                                    <i class="fa fa-sitemap"></i>
                                                    <a href="javascript:void(0)" rel="category tag">@item.Category</a>
                                                </p>
                                            </div>
                                            <div class="entry-body">
                                                <p>
                                                    @Html.Raw(item.Short_Description)
                                                </p>
                                            </div>
                                            <a href="@Url.Action("BlogDetail", "Blog", new { id=item.Id })" title="@item.Title" class="dt-sc-button small">
                                                Read More
                                            </a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        }
                        else
                        {
                            if (item.Type == (byte)Commons.EBlogType.Iframe)
                            {
                                <div class="column dt-sc-one-column blog-fullwidth first">
                                    <article id="post-221" class="blog-entry post-221 post type-post status-publish format-video hentry category-ayurvedic category-herbal category-therapy tag-spa tag-video tag-vimeo post_format-post-format-video">
                                        <div class="blog-entry-inner">
                                            <div class="entry-meta">
                                                <div class="date">
                                                    <span>
                                                        @Html.Raw(string.Format("{0}", item.UpdatedDate.Day))
                                                        <br> @Html.Raw(string.Format("{0}", item.UpdatedDate.Month))
                                                        <br> @Html.Raw(string.Format("{0}", item.UpdatedDate.Year))
                                                    </span>
                                                </div>
                                                <p class="comments">
                                                    <a href="javascript:void(0)">
                                                        <span class="fa fa-comments"> </span> 0
                                                    </a>
                                                </p>
                                            </div>
                                            <div class="entry-thumb">
                                                <div class='dt-video-wrap'>
                                                    @Html.Raw(item.Link)
                                                </div>
                                            </div>
                                            <div class="entry-details">
                                                <div class="entry-title">
                                                    <h4>
                                                        <a href="javascript:void(0)" title="@item.Title">@item.Title</a>
                                                    </h4>
                                                </div>
                                                <div class="entry-metadata">
                                                    <p class="author">
                                                        <i class="fa fa-user"> </i>
                                                        <a href="javascript:void(0)" title="@item.Title">@item.Author</a>
                                                    </p>
                                                    <span class=""> | </span>
                                                    <p class='tags  tags '>
                                                        <i class='fa fa-tags'> </i>
                                                        <a href="javascript:void(0)" rel="tag">Spa</a>,
                                                        <a href="javascript:void(0)" rel="tag">Iframe</a>,
                                                        <a href="javascript:void(0)" rel="tag">@item.Source</a>
                                                    </p>
                                                    <span class='tags'> | </span>
                                                    <p class="category">
                                                        <i class="fa fa-sitemap"> </i>
                                                        <a href="javascript:void(0)" rel="category tag">@item.Category</a>
                                                    </p>
                                                </div>
                                                <div class="entry-body">
                                                    <p>
                                                        @item.Short_Description
                                                    </p>
                                                </div>
                                                <a href="@Url.Action("BlogDetail", "Blog", new { id=item.Id })" title="@item.Title"
                                                   class="dt-sc-button small">Read More</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            }
                            else
                            {
                                if (item.Type == (byte)Commons.EBlogType.Video)
                                {
                                    <div class="column dt-sc-one-column blog-fullwidth first">
                                        <article id="post-223" class="blog-entry post-223 post type-post status-publish format-video hentry category-uncategorized tag-dream tag-treatment tag-video post_format-post-format-video">
                                            <div class="blog-entry-inner">
                                                <div class="entry-meta">
                                                    <div class="date ">
                                                        <span>
                                                            @Html.Raw(string.Format("{0}", item.UpdatedDate.Day))
                                                            <br> @Html.Raw(string.Format("{0}", item.UpdatedDate.Month))
                                                            <br> @Html.Raw(string.Format("{0}", item.UpdatedDate.Year))
                                                        </span>
                                                    </div>
                                                    <p class="comments ">
                                                        <a href="javascript:void(0)">
                                                            <span class="fa fa-comments"> </span> 0
                                                        </a>
                                                    </p>
                                                </div>
                                                <div class="entry-thumb">
                                                    <div class='dt-video-wrap'>
                                                        <div style="width: 640px;" class="wp-video">
                                                            <video class="wp-video-shortcode" id="video-223-1" width="640" height="360" preload="metadata" controls="controls">
                                                                <source type="video/mp4" src="@item.Link" />
                                                                <a href="@Url.Action("BlogDetail", "Blog", new { id=item.Id })">@item.Link</a>
                                                            </video>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="entry-details">
                                                    <div class="entry-title">
                                                        <h4>
                                                            <a href="javascript:void(0)" title="@item.Title">@item.Title</a>
                                                        </h4>
                                                    </div>
                                                    <div class="entry-metadata">
                                                        <p class="author ">
                                                            <i class="fa fa-user"> </i>
                                                            <a href="javascript:void(0)" title="@item.Title">@item.Author</a>
                                                        </p>
                                                        <span class=""> | </span>
                                                        <p class='tags tags'>
                                                            <i class='fa fa-tags'> </i>
                                                            <a href="javascript:void(0)" rel="tag">dream</a>,
                                                            <a href="javascript:void(0)" rel="tag">Video</a>,
                                                            <a href="javascript:void(0)" rel="tag">@item.Source</a>
                                                        </p>
                                                        <span class='tags'> | </span>
                                                        <p class="category">
                                                            <i class="fa fa-sitemap"> </i>
                                                            <a href="javascript:void(0)" rel="category tag">@item.Category</a>
                                                        </p>
                                                    </div>
                                                    <div class="entry-body">
                                                        <p>
                                                            @item.Short_Description
                                                        </p>
                                                    </div>
                                                    <a href="@Url.Action("BlogDetail", "Blog", new { id=item.Id })" title="@item.Title" class="dt-sc-button small">
                                                        Read More
                                                    </a>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                }
                                else
                                {
                                    if (item.Type == (byte)Commons.EBlogType.Audio)
                                    {
                                        <div class="column dt-sc-one-column blog-fullwidth first">
                                            <article id="" class="blog-entry post type-post status-publish format-audio hentry category-herbal category-massage tag-audio tag-spa post_format-post-format-audio">
                                                <div class="blog-entry-inner">
                                                    <div class="entry-meta">
                                                        <div class="date">
                                                            <span>
                                                                @Html.Raw(string.Format("{0}", item.UpdatedDate.Day))
                                                                <br> @Html.Raw(string.Format("{0}", item.UpdatedDate.Month))
                                                                <br> @Html.Raw(string.Format("{0}", item.UpdatedDate.Year))
                                                            </span>
                                                        </div>
                                                        <p class="comments ">
                                                            <a href="javascript:void(0)">
                                                                <span class="fa fa-comments"> </span> 0
                                                            </a>
                                                        </p>
                                                    </div>
                                                    <div class="entry-thumb">
                                                        <audio class="wp-audio-shortcode" id="" preload="none" style="width: 100%;" controls="controls">
                                                            <source type="audio/mpeg" src="@item.Link" />
                                                            <a href="@Url.Action("BlogDetail", "Blog", new { id=item.Id })">@item.Link</a>
                                                        </audio>
                                                    </div>
                                                    <div class="entry-details">
                                                        <div class="entry-title">
                                                            <h4>
                                                                <a href="javascript:void(0)" title="@item.Title">@item.Title</a>
                                                            </h4>
                                                        </div>
                                                        <div class="entry-metadata">
                                                            <p class="author">
                                                                <i class="fa fa-user"> </i>
                                                                <a href="javascript:void(0)" title="@item.Title">@item.Author</a>
                                                            </p>
                                                            <span class=""> | </span>
                                                            <p class='tags tags'>
                                                                <i class='fa fa-tags'> </i>
                                                                <a href="javascript:void(0)" rel="tag">Spa</a>,
                                                                <a href="javascript:void(0)" rel="tag">Audio</a>
                                                                <a href="javascript:void(0)" rel="tag">@item.Source</a>
                                                            </p>
                                                            <span class='tags'> | </span>
                                                            <p class="category">
                                                                <i class="fa fa-sitemap"> </i>
                                                                <a href="javascript:void(0)" rel="category tag">@item.Category</a>
                                                            </p>
                                                        </div>
                                                        <div class="entry-body">
                                                            <p>
                                                                @item.Short_Description
                                                            </p>
                                                        </div>
                                                        <a href="@Url.Action("BlogDetail", "Blog", new { id=item.Id })" title="@item.Title" class="dt-sc-button small">
                                                            Read More
                                                        </a>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                    }
                                }
                            }
                        }
                    }
                }


                @*<div class=" column dt-sc-one-column blog-fullwidth first">
            <article id="post-227" class="blog-entry post-227 post type-post status-publish format-audio hentry category-herbal category-massage tag-audio tag-spa post_format-post-format-audio">
                <div class="blog-entry-inner">
                    <div class="entry-meta">
                        <div class="date ">
                            <span>
                                29
                                <br> MAY
                                <br> 2014
                            </span>
                        </div>
                        <p class=" comments ">
                            <a href="https://dreamspa.dttheme.com/self-hosted-audio/#respond">
                                <span class="fa fa-comments"> </span> 0
                            </a>
                        </p>
                    </div>
                    <div class="entry-thumb">
                        <!--[if lt IE 9]><script>document.createElement('audio');</script><![endif]-->
                        <audio class="wp-audio-shortcode" id="audio-227-1" preload="none" style="width: 100%;" controls="controls">
                            <source type="audio/mpeg" src="https://dreamspa.dttheme.com/wp-content/uploads/2014/05/funny-animated-movie.mp3?_=1" />
                            <a href="https://dreamspa.dttheme.com/wp-content/uploads/2014/05/funny-animated-movie.mp3">https://dreamspa.dttheme.com/wp-content/uploads/2014/05/funny-animated-movie.mp3</a>
                        </audio>
                    </div>
                    <div class="entry-details">
                        <div class="entry-title">
                            <h4>
                                <a href="https://dreamspa.dttheme.com/self-hosted-audio/" title="Self Hosted Audio">Self Hosted Audio</a>
                            </h4>
                        </div>
                        <div class="entry-metadata">
                            <p class="author ">
                                <i class="fa fa-user"> </i>
                                <a href="https://dreamspa.dttheme.com/author/ram/" title="View all posts by ">ram</a>
                            </p>
                            <span class=""> | </span>
                            <p class='tags  tags '>
                                <i class='fa fa-tags'> </i>
                                <a href="https://dreamspa.dttheme.com/tag/audio/" rel="tag">Audio</a>,
                                <a href="https://dreamspa.dttheme.com/tag/spa/" rel="tag">Spa</a>
                            </p>
                            <span class=' tags '> | </span>
                            <p class=" category">
                                <i class="fa fa-sitemap"> </i>
                                <a href="https://dreamspa.dttheme.com/category/herbal/" rel="category tag">Herbal</a>,
                                <a href="https://dreamspa.dttheme.com/category/massage/" rel="category tag">Massage</a>
                            </p>
                        </div>
                        <div class="entry-body">
                            <p>
                                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed
                                quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi
                                ut...
                            </p>
                        </div>
                        <a href="https://dreamspa.dttheme.com/self-hosted-audio/" title="Self Hosted Audio" class="dt-sc-button small">
                            Read More
                        </a>
                    </div>
                </div>
            </article>
        </div>
        <div class=" column dt-sc-one-column blog-fullwidth first">
            <article id="post-225" class="blog-entry post-225 post type-post status-publish format-audio hentry category-massage tag-audio tag-spa post_format-post-format-audio">
                <div class="blog-entry-inner">
                    <div class="entry-meta">
                        <div class="date ">
                            <span>
                                29
                                <br> MAY
                                <br> 2014
                            </span>
                        </div>
                        <p class=" comments ">
                            <a href="https://dreamspa.dttheme.com/audio-nam-libero-tempore/#respond">
                                <span class="fa fa-comments"> </span> 0
                            </a>
                        </p>
                    </div>
                    <div class="entry-thumb">
                        <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F81073238&show_artwork=true&maxwidth=1060&maxheight=1000&dnt=1"></iframe>
                    </div>
                    <div class="entry-details">
                        <div class="entry-title">
                            <h4>
                                <a href="https://dreamspa.dttheme.com/audio-nam-libero-tempore/" title="Audio – Nam libero tempore">Audio – Nam libero tempore</a>
                            </h4>
                        </div>
                        <div class="entry-metadata">
                            <p class="author ">
                                <i class="fa fa-user"> </i>
                                <a href="https://dreamspa.dttheme.com/author/ram/" title="View all posts by ">ram</a>
                            </p>
                            <span class=""> | </span>
                            <p class='tags  tags '>
                                <i class='fa fa-tags'> </i>
                                <a href="https://dreamspa.dttheme.com/tag/audio/" rel="tag">Audio</a>,
                                <a href="https://dreamspa.dttheme.com/tag/spa/" rel="tag">Spa</a>
                            </p>
                            <span class=' tags '> | </span>
                            <p class=" category">
                                <i class="fa fa-sitemap"> </i>
                                <a href="https://dreamspa.dttheme.com/category/massage/" rel="category tag">Massage</a>
                            </p>
                        </div>
                        <div class="entry-body">
                            <p>
                                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed
                                quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi
                                ut...
                            </p>
                        </div>
                        <a href="https://dreamspa.dttheme.com/audio-nam-libero-tempore/" title="Audio – Nam libero tempore"
                           class="dt-sc-button small">Read More</a>
                    </div>
                </div>
            </article>
        </div>
        <div class=" column dt-sc-one-column blog-fullwidth first">
            <article id="post-223" class="blog-entry post-223 post type-post status-publish format-video hentry category-uncategorized tag-dream tag-treatment tag-video post_format-post-format-video">
                <div class="blog-entry-inner">
                    <div class="entry-meta">
                        <div class="date ">
                            <span>
                                29
                                <br> MAY
                                <br> 2014
                            </span>
                        </div>
                        <p class=" comments ">
                            <a href="https://dreamspa.dttheme.com/self-hosted-video/#respond">
                                <span class="fa fa-comments"> </span> 0
                            </a>
                        </p>
                    </div>
                    <div class="entry-thumb">
                        <div class='dt-video-wrap'>
                            <div style="width: 640px;" class="wp-video">
                                <!--[if lt IE 9]><script>document.createElement('video');</script><![endif]-->
                                <video class="wp-video-shortcode" id="video-223-1" width="640" height="360" preload="metadata"
                                       controls="controls">
                                    <source type="video/mp4" src="https://dreamspa.dttheme.com/wp-content/uploads/2014/05/funny-animated-movie.mp4?_=1" />
                                    <a href="https://dreamspa.dttheme.com/wp-content/uploads/2014/05/funny-animated-movie.mp4">https://dreamspa.dttheme.com/wp-content/uploads/2014/05/funny-animated-movie.mp4</a>
                                </video>
                            </div>
                        </div>
                    </div>
                    <div class="entry-details">
                        <div class="entry-title">
                            <h4>
                                <a href="https://dreamspa.dttheme.com/self-hosted-video/" title="Self Hosted Video">Self Hosted Video</a>
                            </h4>
                        </div>
                        <div class="entry-metadata">
                            <p class="author ">
                                <i class="fa fa-user"> </i>
                                <a href="https://dreamspa.dttheme.com/author/ram/" title="View all posts by ">ram</a>
                            </p>
                            <span class=""> | </span>
                            <p class='tags  tags '>
                                <i class='fa fa-tags'> </i>
                                <a href="https://dreamspa.dttheme.com/tag/dream/" rel="tag">dream</a>,
                                <a href="https://dreamspa.dttheme.com/tag/treatment/" rel="tag">treatment</a>,
                                <a href="https://dreamspa.dttheme.com/tag/video/" rel="tag">video</a>
                            </p>
                            <span class=' tags '> | </span>
                            <p class=" category">
                                <i class="fa fa-sitemap"> </i>
                                <a href="https://dreamspa.dttheme.com/category/uncategorized/" rel="category tag">Uncategorized</a>
                            </p>
                        </div>
                        <div class="entry-body">
                            <p>
                                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed
                                quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi
                                ut...
                            </p>
                        </div>
                        <a href="https://dreamspa.dttheme.com/self-hosted-video/" title="Self Hosted Video" class="dt-sc-button small">
                            Read More
                        </a>
                    </div>
                </div>
            </article>
        </div>
        <div class=" column dt-sc-one-column blog-fullwidth first">
            <article id="post-221" class="blog-entry post-221 post type-post status-publish format-video hentry category-ayurvedic category-herbal category-therapy tag-spa tag-video tag-vimeo post_format-post-format-video">
                <div class="blog-entry-inner">
                    <div class="entry-meta">
                        <div class="date ">
                            <span>
                                29
                                <br> MAY
                                <br> 2014
                            </span>
                        </div>
                        <p class=" comments ">
                            <a href="https://dreamspa.dttheme.com/youtube-lorem-ipsum-dolor-sit/#respond">
                                <span class="fa fa-comments"> </span> 0
                            </a>
                        </p>
                    </div>
                    <div class="entry-thumb">
                        <div class='dt-video-wrap'>
                            <iframe width="1060" height="596" src="https://www.youtube.com/embed/Fq73kLIwkqg?feature=oembed&wmode=opaque"
                                    frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="entry-details">
                        <div class="entry-title">
                            <h4>
                                <a href="https://dreamspa.dttheme.com/youtube-lorem-ipsum-dolor-sit/" title="Youtube – Lorem ipsum dolor sit">Youtube – Lorem ipsum dolor sit</a>
                            </h4>
                        </div>
                        <div class="entry-metadata">
                            <p class="author ">
                                <i class="fa fa-user"> </i>
                                <a href="https://dreamspa.dttheme.com/author/ram/" title="View all posts by ">ram</a>
                            </p>
                            <span class=""> | </span>
                            <p class='tags  tags '>
                                <i class='fa fa-tags'> </i>
                                <a href="https://dreamspa.dttheme.com/tag/spa/" rel="tag">Spa</a>,
                                <a href="https://dreamspa.dttheme.com/tag/video/" rel="tag">video</a>,
                                <a href="https://dreamspa.dttheme.com/tag/vimeo/" rel="tag">vimeo</a>
                            </p>
                            <span class=' tags '> | </span>
                            <p class=" category">
                                <i class="fa fa-sitemap"> </i>
                                <a href="https://dreamspa.dttheme.com/category/ayurvedic/" rel="category tag">Ayurvedic</a>,
                                <a href="https://dreamspa.dttheme.com/category/herbal/" rel="category tag">Herbal</a>,
                                <a href="https://dreamspa.dttheme.com/category/therapy/" rel="category tag">Therapy</a>
                            </p>
                        </div>
                        <div class="entry-body">
                            <p>
                                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed
                                quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi
                                ut...
                            </p>
                        </div>
                        <a href="https://dreamspa.dttheme.com/youtube-lorem-ipsum-dolor-sit/" title="Youtube – Lorem ipsum dolor sit"
                           class="dt-sc-button small">Read More</a>
                    </div>
                </div>
            </article>
        </div>
        <div class=" column dt-sc-one-column blog-fullwidth first">
            <article id="post-219" class="blog-entry post-219 post type-post status-publish format-video hentry category-herbal category-massage tag-spa tag-video post_format-post-format-video">
                <div class="blog-entry-inner">
                    <div class="entry-meta">
                        <div class="date ">
                            <span>
                                29
                                <br> MAY
                                <br> 2014
                            </span>
                        </div>
                        <p class=" comments ">
                            <a href="https://dreamspa.dttheme.com/vimeo-nam-malesuada-augue/#respond">
                                <span class="fa fa-comments"> </span> 0
                            </a>
                        </p>
                    </div>
                    <div class="entry-thumb">
                        <div class='dt-video-wrap'>
                            <iframe src="https://player.vimeo.com/video/17487963?app_id=122963" width="1060" height="596" frameborder="0"
                                    title="Njuta Spa" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="entry-details">
                        <div class="entry-title">
                            <h4>
                                <a href="https://dreamspa.dttheme.com/vimeo-nam-malesuada-augue/" title="Vimeo – Nam malesuada augue">Vimeo – Nam malesuada augue</a>
                            </h4>
                        </div>
                        <div class="entry-metadata">
                            <p class="author ">
                                <i class="fa fa-user"> </i>
                                <a href="https://dreamspa.dttheme.com/author/ram/" title="View all posts by ">ram</a>
                            </p>
                            <span class=""> | </span>
                            <p class='tags  tags '>
                                <i class='fa fa-tags'> </i>
                                <a href="https://dreamspa.dttheme.com/tag/spa/" rel="tag">Spa</a>,
                                <a href="https://dreamspa.dttheme.com/tag/video/" rel="tag">video</a>
                            </p>
                            <span class=' tags '> | </span>
                            <p class=" category">
                                <i class="fa fa-sitemap"> </i>
                                <a href="https://dreamspa.dttheme.com/category/herbal/" rel="category tag">Herbal</a>,
                                <a href="https://dreamspa.dttheme.com/category/massage/" rel="category tag">Massage</a>
                            </p>
                        </div>
                        <div class="entry-body">
                            <p>
                                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed
                                quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi
                                ut...
                            </p>
                        </div>
                        <a href="https://dreamspa.dttheme.com/vimeo-nam-malesuada-augue/" title="Vimeo – Nam malesuada augue"
                           class="dt-sc-button small">Read More</a>
                    </div>
                </div>
            </article>
        </div>
        <div class=" column dt-sc-one-column blog-fullwidth first">
            <article id="post-217" class="blog-entry post-217 post type-post status-publish format-gallery hentry category-herbal category-therapy tag-spa tag-wellness post_format-post-format-gallery">
                <div class="blog-entry-inner">
                    <div class="entry-meta">
                        <div class="date ">
                            <span>
                                29
                                <br> MAY
                                <br> 2014
                            </span>
                        </div>
                        <p class=" comments ">
                            <a href="https://dreamspa.dttheme.com/gallery-cumque-nihil-impedit/#respond">
                                <span class="fa fa-comments"> </span> 0
                            </a>
                        </p>
                    </div>
                    <div class="entry-thumb">
                        <ul class='entry-gallery-post-slider'>
                            <li>
                                <img src='https://dreamspa.dttheme.com/wp-content/uploads/2014/05/blog3.jpg' />
                            </li>
                            <li>
                                <img src='https://dreamspa.dttheme.com/wp-content/uploads/2014/05/blog4.jpg' />
                            </li>
                            <li>
                                <img src='https://dreamspa.dttheme.com/wp-content/uploads/2014/05/blog5.jpg' />
                            </li>
                            <li>
                                <img src='https://dreamspa.dttheme.com/wp-content/uploads/2014/05/blog11.jpg' />
                            </li>
                        </ul>
                    </div>
                    <div class="entry-details">
                        <div class="entry-title">
                            <h4>
                                <a href="https://dreamspa.dttheme.com/gallery-cumque-nihil-impedit/" title="Gallery – Cumque nihil impedit">Gallery – Cumque nihil impedit</a>
                            </h4>
                        </div>
                        <div class="entry-metadata">
                            <p class="author ">
                                <i class="fa fa-user"> </i>
                                <a href="https://dreamspa.dttheme.com/author/ram/" title="View all posts by ">ram</a>
                            </p>
                            <span class=""> | </span>
                            <p class='tags  tags '>
                                <i class='fa fa-tags'> </i>
                                <a href="https://dreamspa.dttheme.com/tag/spa/" rel="tag">Spa</a>,
                                <a href="https://dreamspa.dttheme.com/tag/wellness/" rel="tag">wellness</a>
                            </p>
                            <span class=' tags '> | </span>
                            <p class=" category">
                                <i class="fa fa-sitemap"> </i>
                                <a href="https://dreamspa.dttheme.com/category/herbal/" rel="category tag">Herbal</a>,
                                <a href="https://dreamspa.dttheme.com/category/therapy/" rel="category tag">Therapy</a>
                            </p>
                        </div>
                        <div class="entry-body">
                            <p>
                                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed
                                quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi
                                ut...
                            </p>
                        </div>
                        <a href="https://dreamspa.dttheme.com/gallery-cumque-nihil-impedit/" title="Gallery – Cumque nihil impedit"
                           class="dt-sc-button small">Read More</a>
                    </div>
                </div>
            </article>
        </div>
        <div class=" column dt-sc-one-column blog-fullwidth first">
            <article id="post-215" class="blog-entry post-215 post type-post status-publish format-image has-post-thumbnail hentry category-herbal tag-creative tag-lifestyle post_format-post-format-image">
                <div class="blog-entry-inner">
                    <div class="entry-meta">
                        <div class="date ">
                            <span>
                                29
                                <br> MAY
                                <br> 2014
                            </span>
                        </div>
                        <p class=" comments ">
                            <a href="https://dreamspa.dttheme.com/image-minus-id-quod/#respond">
                                <span class="fa fa-comments"> </span> 0
                            </a>
                        </p>
                    </div>
                    <div class="entry-thumb">
                        <a href="https://dreamspa.dttheme.com/image-minus-id-quod/" title="Image – Minus id quod">
                            <img width="920" height="536" src="https://dreamspa.dttheme.com/wp-content/uploads/2014/05/blog10.jpg"
                                 class="attachment-blog-one-column size-blog-one-column wp-post-image" alt="" srcset="https://dreamspa.dttheme.com/wp-content/uploads/2014/05/blog10.jpg 1060w, https://dreamspa.dttheme.com/wp-content/uploads/2014/05/blog10-300x174.jpg 300w, https://dreamspa.dttheme.com/wp-content/uploads/2014/05/blog10-1024x597.jpg 1024w"
                                 sizes="(max-width: 920px) 100vw, 920px" />
                        </a>
                    </div>
                    <div class="entry-details">
                        <div class="entry-title">
                            <h4>
                                <a href="https://dreamspa.dttheme.com/image-minus-id-quod/" title="Image – Minus id quod">Image – Minus id quod</a>
                            </h4>
                        </div>
                        <div class="entry-metadata">
                            <p class="author ">
                                <i class="fa fa-user"> </i>
                                <a href="https://dreamspa.dttheme.com/author/ram/" title="View all posts by ">ram</a>
                            </p>
                            <span class=""> | </span>
                            <p class='tags  tags '>
                                <i class='fa fa-tags'> </i>
                                <a href="https://dreamspa.dttheme.com/tag/creative/" rel="tag">creative</a>,
                                <a href="https://dreamspa.dttheme.com/tag/lifestyle/" rel="tag">lifestyle</a>
                            </p>
                            <span class=' tags '> | </span>
                            <p class=" category">
                                <i class="fa fa-sitemap"> </i>
                                <a href="https://dreamspa.dttheme.com/category/herbal/" rel="category tag">Herbal</a>
                            </p>
                        </div>
                        <div class="entry-body">
                            <p>
                                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed
                                quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi
                                ut...
                            </p>
                        </div>
                        <a href="https://dreamspa.dttheme.com/image-minus-id-quod/" title="Image – Minus id quod" class="dt-sc-button small">
                            Read More
                        </a>
                    </div>
                </div>
            </article>
        </div>
        <div class=" column dt-sc-one-column blog-fullwidth first">
            <article id="post-211" class="blog-entry post-211 post type-post status-publish format-standard has-post-thumbnail hentry category-ayurvedic category-herbal category-therapy tag-spa tag-wellness">
                <div class="blog-entry-inner">
                    <div class="entry-meta">
                        <div class="date ">
                            <span>
                                29
                                <br> MAY
                                <br> 2014
                            </span>
                        </div>
                        <p class=" comments ">
                            <a href="https://dreamspa.dttheme.com/herbal-facial-cream-rejoice-your-beauty/#comments">
                                <span class="fa fa-comments"> </span> 3
                            </a>
                        </p>
                    </div>
                    <div class="entry-thumb">
                        <a href="https://dreamspa.dttheme.com/herbal-facial-cream-rejoice-your-beauty/" title="Herbal facial cream. Rejoice your beauty">
                            <img width="920" height="536" src="https://dreamspa.dttheme.com/wp-content/uploads/2014/05/blog12.jpg"
                                 class="attachment-blog-one-column size-blog-one-column wp-post-image" alt="" srcset="https://dreamspa.dttheme.com/wp-content/uploads/2014/05/blog12.jpg 1060w, https://dreamspa.dttheme.com/wp-content/uploads/2014/05/blog12-300x174.jpg 300w, https://dreamspa.dttheme.com/wp-content/uploads/2014/05/blog12-1024x597.jpg 1024w"
                                 sizes="(max-width: 920px) 100vw, 920px" />
                        </a>
                    </div>
                    <div class="entry-details">
                        <div class="entry-title">
                            <h4>
                                <a href="https://dreamspa.dttheme.com/herbal-facial-cream-rejoice-your-beauty/" title="Herbal facial cream. Rejoice your beauty">Herbal facial cream. Rejoice your beauty</a>
                            </h4>
                        </div>
                        <div class="entry-metadata">
                            <p class="author ">
                                <i class="fa fa-user"> </i>
                                <a href="https://dreamspa.dttheme.com/author/ram/" title="View all posts by ">ram</a>
                            </p>
                            <span class=""> | </span>
                            <p class='tags  tags '>
                                <i class='fa fa-tags'> </i>
                                <a href="https://dreamspa.dttheme.com/tag/spa/" rel="tag">Spa</a>,
                                <a href="https://dreamspa.dttheme.com/tag/wellness/" rel="tag">wellness</a>
                            </p>
                            <span class=' tags '> | </span>
                            <p class=" category">
                                <i class="fa fa-sitemap"> </i>
                                <a href="https://dreamspa.dttheme.com/category/ayurvedic/" rel="category tag">Ayurvedic</a>,
                                <a href="https://dreamspa.dttheme.com/category/herbal/" rel="category tag">Herbal</a>,
                                <a href="https://dreamspa.dttheme.com/category/therapy/" rel="category tag">Therapy</a>
                            </p>
                        </div>
                        <div class="entry-body">
                            <p>
                                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed
                                quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi
                                ut...
                            </p>
                        </div>
                        <a href="https://dreamspa.dttheme.com/herbal-facial-cream-rejoice-your-beauty/" title="Herbal facial cream. Rejoice your beauty"
                           class="dt-sc-button small">Read More</a>
                    </div>
                </div>
            </article>
        </div>*@
            </div>
            <div class="pagination blog-pagination">
                <div class="prev-post"></div>
                <ul class=''>
                    <li class='active-page'>1</li>
                    <li>
                        <a href='https://dreamspa.dttheme.com/blog/page/2/' class='inactive'>2</a>
                    </li>
                </ul>
                <div class="next-post">
                    <a href="https://dreamspa.dttheme.com/blog/page/2/">Next</a>
                </div>
            </div>
        </section>
    </div>
</div>

<script type='text/javascript'>
    var mejsL10n = { "language": "en", "strings": { "mejs.install-flash": "You are using a browser that does not have Flash player enabled or installed. Please turn on your Flash player plugin or download the latest version from https:\/\/get.adobe.com\/flashplayer\/", "mejs.fullscreen-off": "Turn off Fullscreen", "mejs.fullscreen-on": "Go Fullscreen", "mejs.download-video": "Download Video", "mejs.fullscreen": "Fullscreen", "mejs.time-jump-forward": ["Jump forward 1 second", "Jump forward %1 seconds"], "mejs.loop": "Toggle Loop", "mejs.play": "Play", "mejs.pause": "Pause", "mejs.close": "Close", "mejs.time-slider": "Time Slider", "mejs.time-help-text": "Use Left\/Right Arrow keys to advance one second, Up\/Down arrows to advance ten seconds.", "mejs.time-skip-back": ["Skip back 1 second", "Skip back %1 seconds"], "mejs.captions-subtitles": "Captions\/Subtitles", "mejs.captions-chapters": "Chapters", "mejs.none": "None", "mejs.mute-toggle": "Mute Toggle", "mejs.volume-help-text": "Use Up\/Down Arrow keys to increase or decrease volume.", "mejs.unmute": "Unmute", "mejs.mute": "Mute", "mejs.volume-slider": "Volume Slider", "mejs.video-player": "Video Player", "mejs.audio-player": "Audio Player", "mejs.ad-skip": "Skip ad", "mejs.ad-skip-info": ["Skip in 1 second", "Skip in %1 seconds"], "mejs.source-chooser": "Source Chooser", "mejs.stop": "Stop", "mejs.speed-rate": "Speed Rate", "mejs.live-broadcast": "Live Broadcast", "mejs.afrikaans": "Afrikaans", "mejs.albanian": "Albanian", "mejs.arabic": "Arabic", "mejs.belarusian": "Belarusian", "mejs.bulgarian": "Bulgarian", "mejs.catalan": "Catalan", "mejs.chinese": "Chinese", "mejs.chinese-simplified": "Chinese (Simplified)", "mejs.chinese-traditional": "Chinese (Traditional)", "mejs.croatian": "Croatian", "mejs.czech": "Czech", "mejs.danish": "Danish", "mejs.dutch": "Dutch", "mejs.english": "English", "mejs.estonian": "Estonian", "mejs.filipino": "Filipino", "mejs.finnish": "Finnish", "mejs.french": "French", "mejs.galician": "Galician", "mejs.german": "German", "mejs.greek": "Greek", "mejs.haitian-creole": "Haitian Creole", "mejs.hebrew": "Hebrew", "mejs.hindi": "Hindi", "mejs.hungarian": "Hungarian", "mejs.icelandic": "Icelandic", "mejs.indonesian": "Indonesian", "mejs.irish": "Irish", "mejs.italian": "Italian", "mejs.japanese": "Japanese", "mejs.korean": "Korean", "mejs.latvian": "Latvian", "mejs.lithuanian": "Lithuanian", "mejs.macedonian": "Macedonian", "mejs.malay": "Malay", "mejs.maltese": "Maltese", "mejs.norwegian": "Norwegian", "mejs.persian": "Persian", "mejs.polish": "Polish", "mejs.portuguese": "Portuguese", "mejs.romanian": "Romanian", "mejs.russian": "Russian", "mejs.serbian": "Serbian", "mejs.slovak": "Slovak", "mejs.slovenian": "Slovenian", "mejs.spanish": "Spanish", "mejs.swahili": "Swahili", "mejs.swedish": "Swedish", "mejs.tagalog": "Tagalog", "mejs.thai": "Thai", "mejs.turkish": "Turkish", "mejs.ukrainian": "Ukrainian", "mejs.vietnamese": "Vietnamese", "mejs.welsh": "Welsh", "mejs.yiddish": "Yiddish" } };
</script>
<script type='text/javascript' src='https://dreamspa.dttheme.com/wp-includes/js/mediaelement/mediaelement-and-player.min.js?ver=4.2.6-78496d1'></script>
<script type='text/javascript' src='https://dreamspa.dttheme.com/wp-includes/js/mediaelement/mediaelement-migrate.min.js?ver=4.9.7'></script>
<script type='text/javascript'>
    var _wpmejsSettings = { "pluginPath": "\/wp-includes\/js\/mediaelement\/", "classPrefix": "mejs-", "stretching": "responsive" };
</script>
<script type='text/javascript' src='https://dreamspa.dttheme.com/wp-includes/js/mediaelement/wp-mediaelement.min.js?ver=4.9.7'></script>
<script type='text/javascript' src='https://dreamspa.dttheme.com/wp-includes/js/mediaelement/renderers/vimeo.min.js?ver=4.2.6-78496d1'></script>