@{
    Layout = null;
}
@model List<CMS_DTO.CMSRole.CMS_PermissionModels>

<div class="table-responsive">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box red">
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover dt-responsive" id="sample_3">
                    <thead>
                        <tr>
                            <th class="text-center"> Tên Module </th>
                            <th class="text-center"> Được xem </th>
                            <th class="text-center"> Được chỉnh sửa</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Any())
                        {
                            foreach (var item in Model)
                            {
                                <tr class="odd gradeX">
                                    <td class="text-center"> @item.ModuleName </td>
                                    <td>
                                        <label>@Html.CheckBox(@item.ModuleName + "_IsView", item.IsView, new { @class = "icheck" })</label>
                                    </td>
                                    <td>
                                        <label>@Html.CheckBox(@item.ModuleName + "_IsAction", item.IsAction, new { @class = "icheck" })</label>
                                    </td>
                                </tr>
                                @Html.Hidden(item.Id, item.Id);
                                @Html.Hidden(item.ModuleID, item.ModuleID);
                            }
                        }
                    </tbody>

                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>

<script type="text/javascript">
    var _tableEmployee = null;
    var _settingsOptionTableDicount = {
        "language": {
            "aria": {
                "sortAscending": ": activate to sort column ascending",
                "sortDescending": ": activate to sort column descending"
            },
            "emptyTable": "No data available in table",
            "info": "Showing _START_ to _END_ of _TOTAL_ records",
            "infoEmpty": "No records found",
            "infoFiltered": "(filtered1 from _MAX_ total records)",
            "lengthMenu": "Show _MENU_",
            "search": "Search:",
            "zeroRecords": "No matching records found",
            "paginate": {
                "previous": "Prev",
                "next": "Next",
                "last": "Last",
                "first": "First"
            }
        },
        "oLanguage": {

            "sSearch": "Tìm Kiếm:",
            "sLengthMenu": "Xem _MENU_",
            "sProcessing": "Đang xử lý...",
            "sZeroRecords": "Không tìm thấy dòng nào phù hợp",
            "sInfo": "Đang xem _START_ đến _END_ trong tổng số _TOTAL_ mục",
            "sInfoEmpty": "Đang xem 0 đến 0 trong tổng số 0 mục",
            "sInfoFiltered": "(được lọc từ _MAX_ mục)",
            "sInfoPostFix": "",
        },
        "bStateSave": true, // save datatable state(pagination, sort, etc) in cookie.
        "lengthMenu": [
            [25, 50, 100, -1],
            [25, 50, 100, "All"] // change per page values here
        ],
        "pageLength": 100,
        "columnDefs": [
            { "orderable": true, "targets": [0, 1, 2] },
            { "width": "33%", "targets": [2] },
        ],
        "order": [
            [1, "asc"]
        ]
    };

    $(document).ready(function () {
        _tableEmployee = $('#sample_3').DataTable($.extend(true, {}, _settingsOptionTableDicount));
    })

    function ShowView(url) {
        ShowViewOrEdit(url);
    }
</script>
