@model CMS_DTO.CMSReservation.CMS_ReservationViewModels
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="wrapper">
    <div class="inner-wrapper">
        <div id="main">
            <section class='title-section'>
                <div class="title-wrapper">
                    <div class="container">
                        <div class="border-title aligncenter">
                            <h1>Đặt chỗ</h1>
                            <h6>Đăng ký để được tư vấn từ chúng tôi!</h6>
                        </div>
                    </div>
                </div>
            </section>
            <div class="container">
                <section id="primary" class="content-full-width">
                    <div class="dt-sc-reservation">
                        @using (@Html.BeginForm("Book", "Reservation", FormMethod.Post, new { @class = "form-horizontal create-form", @enctype = "multipart/form-data", @style = "" }))
                        {
                            <div class="title">
                                <h6>
                                    <span> 01 </span> Thông tin cá nhân
                                </h6>
                            </div>
                            <div class="column dt-sc-one-half first">
                                <p>Tên</p>
                                <p>
                                    @Html.TextBoxFor(model => model.CustomerName, new { @class = "form-control input-text", @id = "username", @placeholder = "*Tên", })
                                    @Html.ValidationMessageFor(model => model.CustomerName, null, new { @class = "label label-danger", @style = "color: red; " })
                                    @*<input type="text" id="" class="" name="name" value="" />*@
                                </p>
                            </div>

                            <div class="column dt-sc-one-half">
                                <p>Email</p>
                                <p>
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control input-text", @id = "email", @placeholder = "*Email", @type = "email", })
                                    @Html.ValidationMessageFor(model => model.Email, null, new { @class = "label label-danger", @style = "color: red; " })
                                    @*<input type="text" id="" class="" name="email" value="" />*@
                                </p>
                            </div>

                            <div class="column dt-sc-one-half first">
                                <p>Số điện thoại</p>
                                <p>
                                    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control input-text", @id = "phone", @placeholder = "*Số điện thoại", })
                                    @Html.ValidationMessageFor(model => model.Phone, null, new { @class = "label label-danger", @style = "color: red; " })
                                    @*<input type="text" id="" class="" name="phone" value="" />*@
                                </p>
                            </div>

                            <div class="column dt-sc-one-half">
                                <p>Địa chỉ</p>
                                <p>
                                    @Html.TextBoxFor(model => model.Address, new { @class = "form-control input-text", @id = "address", @placeholder = "*Địa chỉ", })
                                    @Html.ValidationMessageFor(model => model.Address, null, new { @class = "label label-danger", @style = "color: red; " })
                                    @*<input type="text" id="" class="" name="Address" value="" />*@
                                </p>
                            </div>

                            <div class="title" style="margin-top: 10px; ">
                                <h6>
                                    <span> 02 </span> Lựa chọn dịch vụ và nhân viên
                                </h6>
                            </div>
                            <div class="column dt-sc-one-half first">
                                <p>Dịch vụ</p>
                                <select name="services" class="dt-select-service">
                                    <option value="">Chọn</option>
                                    @if (Model != null && Model.ListCategories != null && Model.ListCategories.Any())
                                    {
                                        foreach (var item in Model.ListCategories)
                                        {
                                            <option value='@item.Id'>@item.CategoryName</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="column dt-sc-one-half">
                                <p>Nhân viên</p>
                                <select name="staff" class="dt-select-staff">
                                    <option value="">Chọn</option>
                                    @if (Model != null && Model.ListEmployees != null && Model.ListEmployees.Any())
                                    {
                                        foreach (var item in Model.ListEmployees)
                                        {
                                            <option value='@item.Id'>@item.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="dt-sc-hr-invisible"></div>
                            <div class="clear"></div>
                            <div class="title">
                                <h6>
                                    <span> 03 </span> Lựa chọn thời gian
                                </h6>
                            </div>
                            <div class="column dt-sc-one-fourth first">
                                <p>Bạn sẵn sàng</p>
                                <p style="">
                                    @Html.TextBoxFor(model => model.BookDay, new { id = "datepicker", @class = "", @placeholder = "Ngày", @style = "height: 50px !important; margin-top: 15px;" })
                                </p>                                
                            </div>
                            <div class="column dt-sc-three-fourth">
                                <div class="column dt-sc-one-half first">
                                    <p>Bắt đầu :</p>
                                    @Html.DropDownListFor(model => model.From,
                                        new SelectList(ViewBag.ListFromTime, "Value", "Text", Model.From),"Bắt đầu",
                                        new
                                        {
                                            @class = "start-time",
                                            @style = "width:100%;"
                                        })
                                </div>
                                <div class="column dt-sc-one-half">
                                    <p> Kết thúc:</p>
                                    @Html.DropDownListFor(model => model.To,
                                        new SelectList(ViewBag.ListToTime, "Value", "Text", Model.To),"kết thúc",
                                        new
                                        {
                                            @class = "end-time",
                                            @style = "width:100%;"
                                        })
                                </div>
                            </div>

                            <div class="title" style="">
                                <input type="submit" value="Đặt" style="float: inherit !important; " />
                            </div>
                        }
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<!-- Cache served by breeze CACHE - Last modified: Fri, 20 Jul 2018 09:57:47 GMT -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script>
    $(document).ready(function () {
        
    });

</script>