@model CMS_DTO.CMSReport.CMS_ReportModels
@{
    Html.EnableUnobtrusiveJavaScript(true);

    ViewBag.Title = "Báo cáo thu-chi";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div role="main" class="right_col">
    <div class="se-pre-con"></div>
    <div class="">
        <div class="page-title">
            <div class="title_left" style="padding: 10px 0px;">
                @Html.Partial("~/Areas/Admin/Views/Shared/_breadcrumb.cshtml",
                    new Dictionary<string, string> { { "A", "Báo cáo" }, { "B", "Thu - Chi" }, { "C", "- Chi tiết" } })
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 x_panel">
                <div class="x_content">
                    @using (Html.BeginForm("Report", "CMSReportManagements", FormMethod.Post, new { @id = "formReport", @class = "form-horizontal", enctype = "multipart/form-data" }))
                    {
                        <div class="form-group">
                            @Html.ValidationSummary(true, "", new { @style = "color: red;" })
                        </div>

                        <div class="form-group">
                            <label for="FromDate" class="col-md-3 col-sm-3 col-xs-12 control-label">Thời gian bắt đầu</label>
                            <div class="col-md-3 col-sm-8 col-xs-12 ">
                                <div class="input-prepend input-group">
                                    <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                                    @Html.TextBoxFor(model => model.From, "{0:dd/MM/yyyy}",
                                                             new
                                                             {
                                                                 @id = "fromDate",
                                                                 @class = "form-control datepicker",
                                                                 @placeholder = "Bắt đầu"
                                                             })
                                </div>
                                @Html.ValidationMessageFor(model => model.From, null, new { @class = "label" })
                            </div>
                            <label for="ToDate" class="col-md-1 col-sm-3 col-xs-12 control-label">Kết thúc</label>
                            <div class="col-md-3 col-sm-8 col-xs-12 ">
                                <div class="input-prepend input-group">
                                    <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                                    @Html.TextBoxFor(model => model.To, "{0:dd/MM/yyyy}",
                                                             new
                                                             {
                                                                 @id = "toDate",
                                                                 @class = "form-control datepicker",
                                                                 @placeholder = "Kết thúc"
                                                             })
                                </div>
                                @Html.ValidationMessageFor(model => model.To, null, new { @class = "label" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12 fontLighter">Gồm các order đã xóa: </label>
                            <div class="col-md-1 col-sm-1 col-xs-12">
                                <label>@Html.CheckBoxFor(model => model.IsIncludeDelete, new { @class = "icheck" })</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3 col-sm-3 col-xs-12 ">
                            </div>
                            <div class="col-md-4 col-sm-8 col-xs-12 ">
                                <button id="btn-Export" class="btn btn-success btn-md">Xuất File</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script src="@Url.Content("~/Scripts/InputCustom.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.datepicker').daterangepicker({
            singleDatePicker: true,
            calender_style: "picker_2",
            maxDate: new Date(),
            //==========
            showDropdowns: true,
            locale: {
                format: 'DD/MM/YYYY',
                daysOfWeek: ['CN', 'Hai', 'Ba', 'Tư', 'Năm', 'Sáu', 'Bảy'],
                monthNames: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12']
            }
        }, function (start, end, label) {
        });
    });
</script>
