@{
    Layout = null;
}
@model CMS_DTO.CMSOrder.CMS_OrderModels

<div class="table-responsive">
    <div class="col-md-12">
        <div class="portlet-body">
            <table class="table table-striped table-bordered table-hover dt-responsive" id="sample_3">
                <thead>
                    <tr>
                        <th class="text-center"> Tên  Sản phẩm </th>
                        <th class="text-center"> Đ.giá </th>
                        <th class="text-right"> SL </th>
                        <th class="text-center"> Thành tiền </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Items != null && Model.Items.Any())
                    {
                        for (int i = 0; i < Model.Items.Count; i++)
                        {
                            if (!string.IsNullOrEmpty(Model.Items[i].ProductName))
                            {
                                <tr class="odd gradeX">
                                    <td class="text-center"> @Model.Items[i].ProductName </td>
                                    <td class="text-center"> @Model.Items[i].Price </td>
                                    <td class="text-center"> @Model.Items[i].Quantity </td>
                                    <td class="text-center"> @string.Format("{0:0,0 VNĐ}", Model.Items[i].TotalPrice)</td>
                                </tr>
                            }
                        }
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td class="text-right" colspan="3">SubTotal</td>
                        <td class="text-center">@string.Format("{0:0,0 VNĐ}", Model.SubTotal)</td>
                    </tr>
                    @if (@Model.TotalDiscount > 0)
                    {
                        <tr>
                            <td class="text-right" colspan="3">Giảm giá</td>
                            <td class="text-center">@string.Format("{0:0,0 VNĐ}", Model.TotalDiscount)</td>
                        </tr>
                    }

                    <tr>
                        <td class="text-right" colspan="3">Tổng tiền</td>
                        <td class="text-center"><span style="color:#d9534f;font-weight:bold">@string.Format("{0:0,0 VNĐ}", Model.TotalBill)</span></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>

<script type="text/javascript">
    var _tableEmployee = null;
    var _settingsOptionTableDicount = {
        "language": {
            "aria": {
                "sortAscending": ": activate to sort column ascending",
                "sortDescending": ": activate to sort column descending"
            },
            "emptyTable": "No data available in table",
            "info": "Showing _START_ to _END_ of _TOTAL_ records",
            "infoEmpty": "No records found",
            "infoFiltered": "(filtered1 from _MAX_ total records)",
            "lengthMenu": "Show _MENU_",
            "search": "Search:",
            "zeroRecords": "No matching records found",
            "paginate": {
                "previous": "Prev",
                "next": "Next",
                "last": "Last",
                "first": "First"
            }
        },
        "oLanguage": {
            "sSearch": "Tìm Kiếm:",
            "sLengthMenu": "Xem _MENU_",
            "sProcessing": "Đang xử lý...",
            "sZeroRecords": "Không tìm thấy dòng nào phù hợp",
            "sInfo": "Đang xem _START_ đến _END_ trong tổng số _TOTAL_ mục",
            "sInfoEmpty": "Đang xem 0 đến 0 trong tổng số 0 mục",
            "sInfoFiltered": "(được lọc từ _MAX_ mục)",
            "sInfoPostFix": "",
        },
        "bStateSave": true, // save datatable state(pagination, sort, etc) in cookie.
        "bLengthChange": false,
        "bInfo": false,
        "bFilter": false,
        "bPaginate": false,
        "lengthMenu": [
            [100, 100, 100, -1],
            [100, 100, 100, "All"] // change per page values here
        ],
        "pageLength": 100,
        "columnDefs": [
            { "orderable": true, "targets": [0, 1, 2, 3] },
        ],
        "order": [
            [0, "asc"]
        ]
    };

    $(document).ready(function () {
        _tableEmployee = $('#sample_3').DataTable($.extend(true, {}, _settingsOptionTableDicount));
    })

</script>
