@{
    ViewBag.Title = "Đơn hàng";

    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@model CMS_DTO.CMSOrder.CMS_OrderModels

<style type="text/css">
    .bgimg {
        background-image: url('http://lamodehome.com/Images/LogoFull.png');
    }
</style>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div >
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;close</button>
            <h4 class="modal-title">Chi tiết đơn hàng <span style="color:#d9534f;font-weight:bold">@Model.OrderNo</span></h4>
        </div>
        <div class="modal-body" style="display:initial">
            <div class="form-group" style="padding-top:15px;">
                <label class="control-label col-md-2 col-sm-2 col-xs-4 lineHeight fontLighter">Tên khách hàng:</label>
                @{
                    if (!string.IsNullOrEmpty(Model.CustomerName))
                    {
                        <label class="control-label col-md-4 col-sm-4 col-xs-8 lineHeight"><span style="color:#d9534f; font-weight:bold">@Model.CustomerName</span></label>
                    }
                    else
                    {
                        <label class="control-label col-md-4 col-sm-4 col-xs-8 lineHeight">No</label>
                    }
                }

                <label class="control-label col-md-2 col-sm-2 col-xs-4 lineHeight fontLighter">E-mail:</label>

                @{
                    if (!string.IsNullOrEmpty(Model.Email))
                    {
                        <label class="control-label col-md-4 col-sm-4 col-xs-8 lineHeight"><span style="font-weight:bold">@Model.Email</span></label>
                    }
                    else
                    {
                        <label class="control-label col-md-4 col-sm-4 col-xs-8 lineHeight">No</label>
                    }
                }
            </div>

            <div class="form-group" style="padding-top:25px;">
                <label class="control-label col-md-2 col-sm-2 col-xs-4 lineHeight fontLighter">Điện thoại:</label>
                @{
                    if (!string.IsNullOrEmpty(Model.Phone))
                    {
                        <label class="control-label col-md-4 col-sm-4 col-xs-8 lineHeight"><span style="font-weight:bold">@Model.Phone</span></label>
                    }
                    else
                    {
                        <label class="control-label col-md-4 col-sm-4 col-xs-8 lineHeight">No</label>
                    }
                }

                <label class="control-label col-md-2 col-sm-2 col-xs-4 lineHeight fontLighter">Ngày đặt hàng:</label>
                <label class="control-label col-md-4 col-sm-4 col-xs-8 lineHeight">@Model.sCreatedDate</label>
            </div>

            <div class="form-group" style="padding-top:25px;">
                <label class="control-label col-md-2 col-sm-2 col-xs-4 lineHeight fontLighter">Ghi chú:</label>
                @{
                    if (!string.IsNullOrEmpty(Model.Description))
                    {
                        <label class="control-label col-md-8 col-sm-8 col-xs-8 lineHeight">@Model.Description</label>
                    }
                    else
                    {
                        <label class="control-label col-md-8 col-sm-8 col-xs-8 lineHeight">No</label>
                    }
                }
            </div>
        </div>
    </div>

    <div class="form-group" style="height:100%; padding-top:15px;">
        <!-- detail partial view -->
        @Html.Partial("_ListItem", Model)
    </div>

    <div class="">
        <div class="form-group" style="padding-top:15px;">
            <label class="control-label col-md-2 col-sm-2 col-xs-4 lineHeight fontLighter">Địa chỉ: </label>
            <label class="control-label col-md-8 col-sm-8 col-xs-8 lineHeight">181/29 Âu Dương Lân, P.2, Q.8, HCM</label>
        </div>
        <div class="form-group" style="padding-top:15px;">
            <label class="control-label col-md-2 col-sm-2 col-xs-4 lineHeight fontLighter">Số điện thoại: </label>
            <label class="control-label col-md-8 col-sm-8 col-xs-8 lineHeight">0993555599</label>
        </div>
        <div class="form-group" style="padding-top:15px;">
            <label class="control-label col-md-2 col-sm-2 col-xs-4 lineHeight fontLighter">Facebook:</label>
            <label class="control-label col-md-8 col-sm-8 col-xs-8 lineHeight">fb.com/LamodeHomeSpa</label>
        </div>
    </div>
    
</body>
</html>
<script type="text/javascript">

    $(document).ready(function () {
    })

</script>