@using CMS_Common;

<!-- **Footer** -->
<div class="footer-logo">
    <img class="normal_logo" src="/Content/themes/dreamspa/images/footer-logo.png" alt="Footer Logo"
         title="Footer Logo">
    <img class="retina_logo" src="/Content/themes/dreamspa/images/footer-logo@2x.png"
         alt="Dream Spa" title="Dream Spa" style="width:66px; height:33px;" />
</div>
<div class="footer-widgets-wrapper">
    <div class="container">
        <div class='column dt-sc-one-fourth first'>
            <aside id="nav_menu-2" class="widget widget_nav_menu">
                <h3 class="widgettitle">Links</h3>
                <div class="menu-footer-widget-menu-container">
                    <ul id="menu-footer-widget-menu" class="menu">
                        <li id="menu-item-397" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-397">
                            <a href="@Url.Action("Index","Home")">Trang chủ</a>
                        </li>
                        <li id="menu-item-398" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-398">
                            <a href="@Url.Action("Index","About")">Thông tin</a>
                        </li>
                        <li id="menu-item-399" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-399">
                            <a href="@Url.Action("Index","Blog")">Tin tức</a>
                        </li>
                        <li id="menu-item-400" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-400">
                            <a href="@Url.Action("Index","Gallery")">Bộ sưu tập</a>
                        </li>
                        <li id="menu-item-401" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-401">
                            <a href="@Url.Action("Index","Location")">Vị trí</a>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>
        <div class='column dt-sc-one-fourth '>
            <aside id="text-4" class="widget widget_text">
                <h3 class="widgettitle">Dịch vụ</h3>
                <div class="textwidget">
                    <ul>
                        <li>
                            <a title="" href="javascript:void(0)"> Mỹ phẩm </a>
                        </li>
                        <li>
                            <a title="" href="javascript:void(0)"> Chăm sóc da </a>
                        </li>
                        <li>
                            <a title="" href="javascript:void(0)"> Spa </a>
                        </li>
                        <li>
                            <a title="" href="javascript:void(0)"> Thủy liệu pháp </a>
                        </li>
                        <li>
                            <a title="" href="javascript:void(0)"> Điện liệu pháp </a>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>
        <div class='column dt-sc-one-fourth '>
            <aside id="text-3" class="widget widget_text">
                <h3 class="widgettitle">Social</h3>
                <div class="textwidget">
                    <ul class="dt-sc-social-icons">
                        <li>
                            <a title="" href="javascript:void(0)">
                                <i class="fa fa-facebook"> </i> Facebook
                            </a>
                        </li>
                        <li>
                            <a title="" href="javascript:void(0)">
                                <i class="fa fa-twitter"> </i> Twitter
                            </a>
                        </li>
                        <li>
                            <a title="" href="javascript:void(0)">
                                <i class="fa fa-google-plus"> </i> Google Plus
                            </a>
                        </li>
                        <li>
                            <a title="" href="javascript:void(0)">
                                <i class="fa fa-youtube"> </i> Youtube
                            </a>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>
        <div class='column dt-sc-one-fourth '>
            <aside id="text-2" class="widget widget_text">
                <h3 class="widgettitle">Thông tin</h3>
                <div class="textwidget">
                    <img title="DreamSpa" alt="DreamSpa" src="@Url.Content("~/Images/LogoFull.png")">
                    <div class="dt-sc-hr-invisible-small"></div>
                    <p>
                        Thư giãn với các liệu - dược pháp của chúng tôi để đem lại cuộc sống thoải mái cho bạn!
                    </p>
                </div>
            </aside>
        </div>
    </div>
</div>
<div class="copyright">
    <div class="container">
        <div class="copyright-content">LAMODE &copy; 2018. Design by Design Themes</div>
    </div>
</div>
<!-- **Footer - End** -->
