
@model CMS_DTO.CMSNews.CMS_NewsModels
@using CMS_Shared
@{
    Html.EnableUnobtrusiveJavaScript(true);
    var _ID = Model.Id;
}
@Html.HiddenFor(model =>model.Id)
@if (!string.IsNullOrEmpty(_ID))
{
    @Html.Hidden("ImageURL", Model.ImageURL)
}

<style>
    #cke_1_contents {
        height: 450px !important;
    }
</style>
<div class="row form-horizontal form-label-left" style="margin-bottom:15px;">
    @*Image*@
    <fieldset>
        <legend>THÔNG TIN CHUNG</legend>
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12 fontLighter">Tiêu đề</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @placeholder = "Tiêu đề", @autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.Title, null, new { @class = "label label-danger" })
            </div>
        </div>

        @*Type*@
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12">Thể loại</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.DropDownListFor(model => model.Type,
                new SelectList(Model.ListBlogType, "Value", "Text", Model.Type), null,
                new
                {
                    @class = "form-control select2_multiple",
                    @id = "TypeDdl",
                    @style = "width:100%;",
                    @onchange = "OnchangeBlogType(this)"
                })
                @Html.ValidationMessageFor(model => model.Type, null, new { @class = "label" })
            </div>
        </div>

        @*Link*@
        <div class="form-group" id="idLink">
            <label class="control-label col-md-2 col-sm-2 col-xs-12 fontLighter">Link</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.TextBoxFor(model => model.Link, new { @class = "form-control", @placeholder = "Link", @autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.Link, null, new { @class = "label label-danger" })
            </div>
        </div>

        <div class="form-group" id="idImage">
            <label class="control-label col-md-2 col-sm-2 col-xs-12 lineHeight fontLighter">Hình</label>
            <div class="col-md-2 col-sm-2 col-xs-12">
                @if (!string.IsNullOrEmpty(Model.ImageURL))
                {
                    <img id="upload-preview" src="@Model.ImageURL" height="115" width="200" class="" />
                }
                else
                {
                    <img id="upload-preview" class="" src="@Commons.Image920_535" height="115" width="200" />
                }
            </div>
            <div class="col-md-1 col-sm-3 col-xs-12" style="line-height:55px;">
                <div class="upload-btn-wrapper" style="cursor:pointer;">
                    <button class="btn btn-default" type="button" onclick="showPictureUpload();" style="margin-top:-6%;margin-left:50px">Chọn hình</button>
                    @Html.TextBoxFor(model => model.PictureUpload, new { @type = "file", @onchange = "PreviewImage(this,\"upload-preview\")", @accept = "*.jpg", @class = "hidden", @id = "urlImage" })
                </div>
                @Html.ValidationMessageFor(model => model.PictureUpload, null, new { @class = "label label-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12 lineHeight fontLighter">Mô tả ngắn</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.TextAreaFor(model => model.Short_Description, new { @class = "form-control", @placeholder = "Mô tả ngắn", @autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.Short_Description, null, new { @class = "label label-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12 lineHeight fontLighter">Nội dung</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control ckeditor", @placeholder = "Nội dung", @autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.Description, null, new { @class = "label label-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12 fontLighter">Trạng thái</label>
            <div class="col-md-1 col-sm-1 col-xs-12">
                <label>@Html.CheckBoxFor(model => model.IsActive, new { @class = "icheck" })</label>
            </div>
        </div>
    </fieldset>
</div>
<script src="@Url.Content("~/Scripts/InputCustom.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var _type = '@Model.Type';
        if ('@Model.Type' != null && '@Model.Type' == '@Commons.EBlogType.Image.ToString("d")') {
            $('#idImage').show();
            $('#idLink').hide();
        }
        else {
            $('#idImage').hide();
            $('#idLink').show();
        }

        $("#TypeDdl").select2({
            placeholder: "Please choose type",
            //allowClear: true
        });
    });

    function showPictureUpload() {
        $('[id=urlImage]').click();
    }

    function OnchangeBlogType(obj)
    {
        var _type = $(obj).val();
        if (_type != null && _type != '@Commons.EBlogType.Image.ToString("d")')
        {
            $('#idImage').hide();
            $('#idLink').show();
        }
        else {
            $('#idImage').show();
            $('#idLink').hide();
        }
    }
</script>