@model CMS_DTO.CMSAbout.CMS_AboutViewModels
@using CMS_Common;
<div class="wrapper">
    <div class="inner-wrapper">
        <div id="main">
            <section class='title-section'>
                <div class="title-wrapper">
                    <div class="container">
                        <div class="border-title aligncenter">
                            <h1>Giới thiệu Lamode Spa</h1>
                            <h6>Đôi nét về Lamode, Lamode được sinh ra để phục vụ bạn.</h6>
                        </div>
                    </div>
                </div>
            </section>
            <section id="primary" class="content-full-width">
                <div id="post-119" class="post-119 page type-page status-publish hentry">
                    <div class='fullwidth-section '>
                        <div class="container">
                            <div class='dt-sc-hr-invisible  '></div>
                            <h2>TẠI SAO LẠI LÀ LAMODE SPA?</h2>
                            <div class='column dt-sc-one-half  space first'>
                                <p>
                                    Không chỉ có vẻ bên ngoài bề thế, sang trọng, Lamode Spa còn gây ấn tượng bởi không gian lịch sự và hiện đại bên trong.
                                    Đó là sự kết hợp hài hòa giữa phong cách Á – Âu, tạo cho khách hàng cảm giác sang trọng, lịch sự, nhưng cũng rất thân thiện, ấm cúng và thoải mái.
                                </p>
                                <p>&nbsp;</p>
                                <p>
                                    Khi tới Lamode Spa làm đẹp, khách hàng sẽ được đón tiếp và chăm sóc chu đáo và tư vấn tận tình để thấu hiểu làn da,
                                    nắm được cách chăm sóc và hoàn thiện nhan sắc phù hợp nhất với bản thân. Không dừng lại ở đó,
                                    khi làm đẹp theo liệu trình, khách hàng sẽ được chuyên viên tư vấn theo dõi, nhắc lịch và hướng dẫn để đảm bảo kết quả làm đẹp đạt được tối ưu.
                                    Nhờ vậy, các chị em nơi đây có được cơ hội trải nghiệm dịch vụ làm đẹp một cách sang trọng, thoải mái, thực sự là những “thượng khách” khi đến với Lamode Spa.
                                </p>
                            </div>
                            <div class='column dt-sc-one-half  space '>
                                <img class="alignnone size-full wp-image-53" src="@Url.Content("~/Images/about/about-image.png")"
                                     alt="about-image" width="535" height="282" />
                            </div>
                        </div>
                    </div>
                    <div class='fullwidth-section ' style="background-image:url('@Url.Content("~/Images/border.png")');background-repeat:repeat-x;background-position:left top;padding-top:95px;padding-bottom:50px;">
                        <div class="container">
                            <div class="border-title aligncenter">
                                <h2>Các liệu trình và dịch vụ:</h2>
                                <h6>Với danh sách dịch vụ đa dạng sẽ làm hài lòng bạn khi đến với Lamode Spa.</h6>
                            </div>
                            @if (Model != null && Model.Categories != null && Model.Categories.Any())
                            {
                                string _first = "first";
                                var _index = 1;
                                var _types = new string[] { "green", "chocolate", "blue" };
                                foreach (var item in Model.Categories)
                                {
                                    var _type = _types[_index - 1];
                                    <div class='column dt-sc-one-third  space @_first'>
                                        <div class='dt-sc-ico-content type1 @_type'>
                                            <div class='icon'>
                                                <span>
                                                    <img src='@Url.Content("~/Images/services-ico"+_index+".png")' alt='' />
                                                </span>
                                            </div>
                                            <h2>@item.CategoryName</h2>
                                            <div class='image'>
                                                <img src='@item.ImageURL' alt='' title='' />
                                            </div>
                                            <p>@item.Description</p>
                                        </div>
                                    </div>
                                    _first = "";
                                    _index = _index + 1;
                                }
                            }
                            <div class='dt-sc-hr-invisible  '></div>
                        </div>
                    </div>
                    <img src="" />
                    <div class='fullwidth-section ' style="background-image:url('@Url.Content("~/Images/border.png")');background-repeat:repeat-x;background-position:left top;padding-top:95px;">
                        <div class="container">
                            <div class="border-title aligncenter">
                                <h2>Các kỹ thuật viên chuyên nghiệp:</h2>
                                <h6>Các kĩ thuật viên chuyên nghiệp và đầy kinh nghiệm trong lĩnh vực spa. Làm hài lòng khách hàng chính là đam mê của chúng tôi.</h6>
                            </div>
                            <div class='dt-sc-hr-invisible-small  '></div>
                            @if (Model != null && Model.Employees != null && Model.Employees.Any())
                            {
                                string _first = "first";
                                foreach (var item in Model.Employees)
                                {
                                    <div class='column dt-sc-one-fourth  space @_first'>
                                        <div class='dt-sc-team'>
                                            <div class="team-details">
                                                <h5> @item.Name</h5>
                                                <h6>Chuyên gia thảo dược</h6>
                                            </div>
                                            <div class='image'>
                                                @if (string.IsNullOrEmpty(item.ImageURL))
                                                {
                                                    <img src='@Commons._ImageDefault' alt='Please specify image url'
                                                         title='Please specify image url' />
                                                }
                                                else
                                                {
                                                    <img src='@item.ImageURL' alt='empty image'
                                                         title='empty image' />
                                                }

                                            </div>
                                            <p>
                                                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
                                                atque corrupti quos dolores et quas molestias provident destiny is about voles.
                                            </p>
                                            <ul class='dt-sc-social-icons'>
                                                <li class='google'>
                                                    <a href='javascript:void(0)' target='_blank'>
                                                        <img src="" />
                                                        <img src='@Url.Content("~/Images/social/google.png")'
                                                             alt='google' />
                                                        <img src='@Url.Content("~/Images/social/google1.png")'
                                                             alt='google' />
                                                    </a>
                                                </li>
                                                <li class='facebook'>
                                                    <a href='javascript:void(0)' target='_blank'>
                                                        <img src='@Url.Content("~/Images/social/facebook.png")'
                                                             alt='facebook' />
                                                        <img src='@Url.Content("~/Images/social/facebook1.png")'
                                                             alt='facebook' />
                                                    </a>
                                                </li>
                                                <li class='linkedin'>
                                                    <a href='javascript:void(0)' target='_blank'>
                                                        <img src='@Url.Content("~/Images/social/linkedin.png")'
                                                             alt='linkedin' />
                                                        <img src='@Url.Content("~/Images/social/linkedin1.png")'
                                                             alt='linkedin' />
                                                    </a>
                                                </li>
                                                <li class='twitter'>
                                                    <a href='javascript:void(0)' target='_blank'>
                                                        <img src='@Url.Content("~/Images/social/twitter.png")'
                                                             alt='twitter' />
                                                        <img src='@Url.Content("~/Images/social/twitter1.png")'
                                                             alt='twitter' />
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    _first = "";
                                }
                            }
                            <div class='dt-sc-hr-invisible' style="float:none !important"></div>
                            <h2>KHUYẾN MÃI ĐẶC BIỆT TRONG NGÀY HÔM NAY</h2>
                            @if (Model.LstDiscount != null && Model.LstDiscount.Any())
                            {
                                <div class='dt-sc-images-carousel-wrapper' data-min='1' data-max='2' data-width='520'>
                                    <ul class='dt-sc-images-carousel'>
                                        @if (Model.LstDiscount != null && Model.LstDiscount.Any())
                                        {
                                            foreach (var item in Model.LstDiscount)
                                            {
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <img title="@item.Name" src="@item.ImageURL" alt="@item.Name" />
                                                    </a>
                                                </li>
                                            }
                                        }
                                    </ul>
                                    <div class="carousel-arrows">
                                        <a href="" class="images-carousel-prev">
                                            <span class="fa fa-angle-left"> </span>
                                        </a>
                                        <a href="" class="images-carousel-next">
                                            <span class="fa fa-angle-right"> </span>
                                        </a>
                                    </div>
                                </div>
                            }
                            @*<div class='dt-sc-images-carousel-wrapper' data-min='1' data-max='2' data-width='520'>
                                    <ul class='dt-sc-images-carousel'>
                                        <li>
                                            <a href="javascript:void(0)"><img title="Client 1" src="@Url.Content("~/Images/dreamspa-carousel-image1.png")" alt="Client 1" /></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0"><img title="Client 2" src="@Url.Content("~/Images/dreamspa-carousel-image2.png")" alt="Client 2" /></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)"><img title="Client 1" src="@Url.Content("~/Images/dreamspa-carousel-image1.png")" alt="Client 1" /></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0"><img title="Client 2" src="@Url.Content("~/Images/dreamspa-carousel-image2.png")" alt="Client 2" /></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)"><img title="Client 1" src="@Url.Content("~/Images/dreamspa-carousel-image1.png")" alt="Client 1" /></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0"><img title="Client 2" src="@Url.Content("~/Images/dreamspa-carousel-image2.png")" alt="Client 2" /></a>
                                        </li>
                                    </ul>
                                    <div class="carousel-arrows">
                                        <a href="" class="images-carousel-prev">
                                            <span class="fa fa-angle-left"> </span>
                                        </a>
                                        <a href="" class="images-carousel-next">
                                            <span class="fa fa-angle-right"> </span>
                                        </a>
                                    </div>
                                </div>*@
                        </div>
                    </div>
                    <div class="container">
                        <div class="social-bookmark"></div>
                        <div class="social-share"></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
