@model CMS_DTO.CMSCustomer.ClientLoginModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    
</style>

<!DOCTYPE html>
<html>
<head>
    <title>Đăng nhập</title>
</head>
<body class="">
    <div id="main">
        <section class='title-section'>
            <div class="title-wrapper">
                <div class="container">
                    <div class="border-title aligncenter">
                        <h1>Tài khoản của tôi</h1>
                        <h6>Tận hưởng những cảm giác thú vụ với những liệu pháp mới nhất mà chúng tôi mang lại cho bạn.</h6>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <section id="primary" class="content-full-width">
                <div id="post-8" class="post-8 page type-page status-publish hentry">
                    <div class="woocommerce">
                        <h2>Đăng nhập</h2>
                        @using (@Html.BeginForm("SignIn", "Login", FormMethod.Post, new { @class = "form-horizontal create-form", @enctype = "multipart/form-data", @style = "" }))
                        {
                        <div id="idCustomerLoginForm">
                            <p class="form-row form-row-wide">
                                <label for="username">
                                    Tên đăng nhập hoặc email
                                    <span class="required">*</span>
                                </label>
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control input-text", @id = "username", @placeholder = "Tên đăng nhập", @type = "email", })
                                @Html.ValidationMessageFor(model => model.Email, null, new { @class = "label label-danger", @style = "color: red; " })
                            </p>
                            <p class="form-row form-row-wide">
                                <label for="password">
                                    Mật khẩu
                                    <span class="required">*</span>
                                </label>
                                @Html.PasswordFor(model => model.Password, new { @class = "form-control input-text", @id = "password", @placeholder = "Mật khẩu", @type = "password" })
                            </p>
                            <p class="form-row">
                                <input type="hidden" id="_wpnonce" name="_wpnonce" value="e8f5622d97" />
                                <input type="hidden" name="_wp_http_referer" value="/shop/my-account/" />
                                <input type="submit" class="button" name="login" value="Đăng nhập" />
                                <label for="rememberme" class="inline">
                                    <input name="rememberme" type="checkbox" id="rememberme" value="forever" /> Ghi nhớ mật khẩu
                                </label>
                            </p>
                            <p class="lost_password">
                                <a href="javascript:void(0)" id="idRecoverPassword">Quên mật khẩu?</a>
                            </p>
                            <div class="">
                                <a class="btn btn-facebook" href="@Url.Action("LoginFacebook", "Login")" style="padding: 7px 15px; ">
                                    <i class="fa fa-facebook"></i>
                                    Đăng nhập bằng Facebook
                                </a>
                            </div>
                        </div>

                            <div id="idRecoverPasswordForm" style="display: none;">
                                <h2>Cập nhập mật khẩu</h2>
                                <p>Chúng tôi sẽ gửi thông tin xuống địa chỉ Email bạn cung cấp.</p>
                                <input type="hidden" name="form_type" value="recover_customer_password"><input type="hidden" name="utf8" value="✓">
                                <label for="RecoverEmail" class="label-login">Địa chỉ Email</label>
                                <input type="email" class="form-control" id="RecoverEmail" placeholder="*Địa chỉ Email" required />
                                <label class="label label-danger" id="lblError"></label>
                                <p>
                                    <input type="button" onclick="ResetPassword();" class="btn btn-outline" value="Đồng ý" style="float: left;">
                                </p>
                                <button type="button" id="idHideRecoverPasswordLink" class="text-link btn btn-outline-inverse" style="float: left">
                                    <span>
                                        <i class="fa fa-long-arrow-left"></i>&nbsp;
                                        Quay lại đăng nhập
                                    </span>
                                </button>
                            </div>                            
                        }
                        </div>                    
                    <div class="social-bookmark"></div>
                    <div class="social-share"></div>
                </div>
            </section>
        </div>
    </div>    
</body>
</html>

<script type="text/javascript">
    $('#idRecoverPassword').click(function () {
        $('#idCustomerLoginForm').hide();
        $('#idRecoverPasswordForm').show();
    });

    $('#idHideRecoverPasswordLink').click(function () {
        $('#idRecoverPasswordForm').hide();
        $('#idCustomerLoginForm').show();
    });

    function ResetPassword() {
        var Email = $('[id=RecoverEmail]').val();
        if (Email.length == 0)
        {
            $('[id=lblError]').text("Vui lòng nhập địa chỉ E-mail");
        }
        else {
            var result = RegexEmail(Email);
            if (!result)
                $('[id=lblError]').text("Địa chỉ E-mail không đúng");
            else
                $('[id=lblError]').text("");

            $.ajax({
                url: "@Url.Action("ForgetPassword", "Login")",
                type: "GET",
                data: { Email: Email },
                dataType: 'json',
                beforeSend: function () {
                  //  $('.se-pre-con').show();
                },
                success: function (data) {
                    $('[id=lblError]').text(data.message);
                },
                complete: function () {
                  //  $('.se-pre-con').hide();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                }
            });
        }
    }
</script>
