@{
    Layout = null;
    var user = Session["User"] as CMS_DTO.CMSSession.UserSession;
    bool isAction = false;
    if (user != null)
    {
        isAction = user.ListPermision.Where(o => o.IsAction && o.ModuleCode == (int)CMS_Common.Commons.EModuleCode.CUSTOMER).Select(o => o.IsAction).FirstOrDefault();
    }
}
@model List<CMS_DTO.CMSCustomer.CustomerModels>
@*<style type="text/css">
        #sample_3 ul {
            width: 100% !important;
        }

            #sample_3 ul li .dtr-title {
                width: 25% !important;
            }

            #sample_3 ul li .dtr-data {
                width: 75% !important;
            }
    </style>*@
<div class="table-responsive">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box red">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>Khách hàng
                </div>
                @if (isAction)
                {
                    <div class="actions">
                        <a href="javascript:;" class="btn btn-default btn-sm" onclick='ShowView("@Url.Action("Create","CMSCustomers")")'>
                            <i class="fa fa-plus"></i> Thêm mới
                        </a>
                    </div>
                }

            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover dt-responsive" id="sample_3">
                    <thead>
                        <tr>
                            <th class="text-center"> Họ Tên </th>
                            <th class="text-center"> Email </th>
                            <th class="text-center"> Điện thoại </th>
                            <th class="text-center"> Ngày sinh</th>
                            <th class="text-center"> Đơn hàng</th>
                            <th class="text-center"> Trạng thái </th>
                            <th class="text-center"> Tùy chỉnh </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Any())
                        {
                            foreach (var item in Model)
                            {
                                <tr class="odd gradeX">
                                    <td class="text-center">
                                        @item.Name
                                    </td>
                                    <td class="text-center"> @item.Email </td>
                                    <td class="text-center">
                                        @item.Phone
                                    </td>
                                    <td class="text-center">@item.BirthDate.ToString("dd/MM/yyyy")</td>
                                    <td class="text-center">
                                        <a href="javascript:void(0)"
                                           data-toggle="modal" data-target="#modal-choose-keys" data-whatever="2" data-cus-name="@item.Name" data-cus-id="@item.ID"
                                           class="a-fnb btn btn-primary btn-xs view details"><i class="fa fa-eye"></i>&nbsp;Lịch sử</a>&nbsp;&nbsp;
                                    </td>
                                    <td class="text-center">
                                        @if (item.IsActive)
                                        {
                                            <span class="label label-success">@Html.Raw("Kích hoạt")</span>
                                        }
                                        else
                                        {
                                            <span class="label label-danger">@Html.Raw("Chưa kích hoạt")</span>
                                        }
                                    </td>
                                    <td class="text-center">
                                        <a href="javascript:void(0)"
                                           onclick='ShowView("@Url.Action("View","CMSCustomers",new { Id=item.ID})")'
                                           class="btn btn-primary btn-xs view details"><i class="fa fa-eye"></i>&nbsp;Xem</a>&nbsp;&nbsp;
                                        @if (isAction)
                                        {
                                            <a href="javascript:void(0)"
                                               onclick='ShowView("@Url.Action("Edit","CMSCustomers",new { Id=item.ID})")'
                                               class="btn btn-info btn-xs edit details"><i class="fa fa-edit"></i>&nbsp;Cập nhập</a>@:&nbsp; &nbsp;
                                            <a href="javascript:void(0)"
                                               onclick='ShowView("@Url.Action("Delete","CMSCustomers",new { Id=item.ID})")'
                                               class="btn btn-danger btn-xs delete details"><i class="fa fa-trash-o"></i>&nbsp;Xóa</a>
                                        }

                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>


<!-- Modal History Order-->
<div class="modal fade second cls-modal-chosse-key" id="modal-choose-keys" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Html.Raw("Danh sách đơn hàng của khách hàng ")<span id="idCusName" style="font-weight: bold"></span> </h4>
            </div>
            <div class="modal-body scroll popupTabKey">
                <div class="form-group">
                    <div class="col-md-12 col-xs-12" style="margin-bottom: 15px;">
                        <div class="input-group">
                            <input type="text" class="form-control col-md-10" placeholder="@Html.Raw("Nhập đơn hàng bạn muốn tìm kiếm")"
                                   onkeypress="HandleKeyPress(event)" id="txtSearchKey" />
                            <div class="input-group-btn">
                                <button type="button" onclick="SearchOrder(this); return false;" class="btn bg-fnb">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group-sm">
                    <table class="table table-striped table-hover marginbottomTable">
                        <thead>
                            <tr style="background-color:#007bff; color:#fff;">
                                <th style="width: 60%">@Html.Raw("Đơn hàng")</th>
                                <th style="text-align: center">@Html.Raw("Ngày đặt hàng")</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div id="tbl-choose-keys" class="form-group-sm">
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal">@Html.Raw("Cancel")</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<!-- Large modal -->
<div class="modal fade bd-example-modal-lg" id="modalOrderDetail" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Chi tiết đơn hàng <span style="color:#d9534f;font-weight:bold" id="idOrderNo"></span></h4>
            </div>
            <div class="modal-body" style="display:initial">
                <div id="idOrderDetail">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var btnGlobal;
    var listItem;
    var _tableEmployee = null;
    var _settingsOptionTableEmployee = {
        "language": {
            "aria": {
                "sortAscending": ": activate to sort column ascending",
                "sortDescending": ": activate to sort column descending"
            },
            "emptyTable": "No data available in table",
            "info": "Showing _START_ to _END_ of _TOTAL_ records",
            "infoEmpty": "No records found",
            "infoFiltered": "(filtered1 from _MAX_ total records)",
            "lengthMenu": "Show _MENU_",
            "search": "Search:",
            "zeroRecords": "No matching records found",
            "paginate": {
                "previous": "Prev",
                "next": "Next",
                "last": "Last",
                "first": "First"
            }
        },
        "oLanguage": {

            "sSearch": "Tìm Kiếm:",
            "sLengthMenu": "Xem _MENU_",
            "sProcessing": "Đang xử lý...",
            "sZeroRecords": "Không tìm thấy dòng nào phù hợp",
            "sInfo": "Đang xem _START_ đến _END_ trong tổng số _TOTAL_ mục",
            "sInfoEmpty": "Đang xem 0 đến 0 trong tổng số 0 mục",
            "sInfoFiltered": "(được lọc từ _MAX_ mục)",
            "sInfoPostFix": "",
        },
        "bStateSave": true, // save datatable state(pagination, sort, etc) in cookie.
        "lengthMenu": [
            [25, 50, 100, -1],
            [25, 50, 100, "All"] // change per page values here
        ],
        "pageLength": 25,
        "columnDefs": [
            { "orderable": false, "targets": [6] },
            { "width": "8%", "targets": [0] },
            { "width": "5%", "targets": [1, 2, 3, 4, 5] },
            { "width": "20%", "targets": [6] },
        ],
        "order": [
            [1, "asc"]
        ]
    };

    $(document).ready(function () {
        _tableEmployee = $('#sample_3').DataTable($.extend(true, {}, _settingsOptionTableEmployee));
    })

    function ShowView(url) {
        ShowViewOrEdit(url);
    }

    $("#modal-choose-keys").on('show.bs.modal', function (event) {
        debugger;
        var cusName = $(event.relatedTarget).data('cus-name');
        var cusID = $(event.relatedTarget).data('cus-id');
        $('#modal-choose-keys #idCusName').text(cusName);
        $('#chkAllRule_').attr('checked', false);
        btnGlobal = $(event.relatedTarget); // Button that triggered the modal
        ////=========
        //var OffSet = btnGlobal.data('whatever');
        listItem = [];
        $('.key_' + ':visible').each(function (index, value) {
            listItem.push($(this).attr('data-id'));
        });
        $('#txtSearchKey').val('');
        ////==========
        //$("#tbl-choose-dishes_").html('');
        //$('.popupTabConent').css({ "overflow": "auto", "height": $(window).height() - 200 + "px" });
        $('.popupTabKey').css({ "overflow": "auto", "margin-left": "10px", "height": $(window).height() - 210 + "px" });
        $('.cls-modal-chosse-key .modal-content').css({ "margin-left": "10px" });
        LoadOrders("#tbl-choose-keys", cusID);
    });

    function LoadOrders(container, cusID) {
        $.ajax({
            url: '@Url.Action("LoadOrders", "CMSCustomers")',
            type: 'get',
            data: { cusID : cusID },
            dataType: 'html',
            traditional: true,
            error: function (e) {
            },
            success: function (data) {
                $(container).html(data);
                //ResizeModal(container, 300);
                $('.SpecificItems').each(function (index, value) {
                    var dataId = $(this).attr('data-id');
                    if (listItem.indexOf(dataId) != -1) {
                        $(this).addClass('hide');//.hide();
                    }
                });
            },
            beforeSend: function () {
                $('.se-pre-con').show();
            },
            complete: function () {
                $('.se-pre-con').hide();
            }
        });
    }

    function SearchOrder(btn) {
        var keySearch = $(btn).parents('div.form-group:first').find('input').val().toLowerCase();
        var trs = $(btn).parents('.modal-body:first').find('tbody tr');

        var arrKeySearch = keySearch.split(' ');
        if (keySearch != '') {
            for (var i = 0; i < trs.length; i++) {
                var name = $.trim($(trs[i]).find('td:first').text());
                for (var j = 0; j < arrKeySearch.length; j++) {
                    if (name.toLowerCase().indexOf(arrKeySearch[j]) != -1) {
                        if ($(trs[i]).css('display') == 'none')
                            $(trs[i]).css('display', 'table-row');
                        break;
                    }
                    else
                        if ($(trs[i]).css('display') == 'table-row')
                            $(trs[i]).css('display', 'none');
                }
            }
        }
        else {
            $(trs).each(function (e) {
                if ($(this).css('display') == 'none')
                    $(this).css('display', 'table-row');
            });
        }
    }

    function ShowOrderDetail(orderID, orderNo) {
        var modal = $("#modalOrderDetail");
        $('#modalOrderDetail #idOrderNo').text(orderNo);
        $(modal).modal({
            keyboard: false,
            show: true,
            //backdrop: false
        });
        LoadOrderDetail("#idOrderDetail", orderID);
    }

    function LoadOrderDetail(btn, orderID) {
        debugger;
        $.ajax({
            url: '@Url.Action("LoadOrderDetail", "CMSCustomers")',
            type: 'get',
            data: { OrderID: orderID},
            dataType: 'html',
            traditional: true,
            error: function (e) {
            },
            success: function (data) {
                $(btn).html(data);
            },
            beforeSend: function () {
                $('.se-pre-con').show();
            },
            complete: function () {
                $('.se-pre-con').hide();
            }
        });
    }

    function HandleKeyPress(e) {
        var key = e.keyCode || e.which;
        if (key == 13) {
            e.preventDefault();
        }
    }
</script>
