@model CMS_DTO.CMSOrder.CMS_CheckOutModels
<style>
    th {
        background-color: #a0ca50 !important;
    }
</style>
<div class="wrapper">
    <div class="inner-wrapper">
        <div id="main">
            <section class='title-section'>
                <div class="title-wrapper">
                    <div class="container">
                        <div class="border-title aligncenter">
                            <h1>Checkout</h1>
                            <h6>Shop our exclusive collections. Earn a better living.</h6>
                        </div>
                    </div>
                </div>
            </section>
            <div class="container">
                <section id="primary" class="content-full-width">
                    <div id="post-7" class="post-7 page type-page status-publish hentry">
                        <div class="woocommerce">
                            <form name="checkout" method="post" class="checkout woocommerce-checkout" action="https://dreamspa.dttheme.com/shop/checkout/" enctype="multipart/form-data">
                                <div class="col2-set" id="customer_details">
                                    <div class="col-1">
                                        <div class="woocommerce-billing-fields">
                                            <h3>Billing Details</h3>
                                            <p class="form-row form-row form-row-first validate-required" id="billing_first_name_field">
                                                <label for="billing_first_name" class="">First Name <abbr class="required" title="required">*</abbr></label>
                                                <input type="text" class="input-text " name="billing_first_name" id="billing_first_name" placeholder="" value="" />
                                            </p>
                                            <p class="form-row form-row form-row-last validate-required" id="billing_last_name_field">
                                                <label for="billing_last_name" class="">Last Name <abbr class="required" title="required">*</abbr></label>
                                                <input type="text" class="input-text " name="billing_last_name" id="billing_last_name" placeholder="" value="" />
                                            </p>
                                            <div class="clear"></div>
                                            <p class="form-row form-row form-row-wide" id="billing_company_field">
                                                <label for="billing_company" class="">Company Name</label>
                                                <input type="text" class="input-text " name="billing_company" id="billing_company" placeholder="" value="" />
                                            </p>
                                            <p class="form-row form-row form-row-first validate-required validate-email" id="billing_email_field">
                                                <label for="billing_email" class="">Email Address <abbr class="required" title="required">*</abbr></label>
                                                <input type="email" class="input-text " name="billing_email" id="billing_email" placeholder="" value="" />
                                            </p>
                                            <p class="form-row form-row form-row-last validate-required validate-phone" id="billing_phone_field">
                                                <label for="billing_phone" class="">Phone <abbr class="required" title="required">*</abbr></label>
                                                <input type="tel" class="input-text " name="billing_phone" id="billing_phone" placeholder="" value="" />
                                            </p>
                                            <div class="clear"></div>
                                            <p class="form-row form-row form-row-wide address-field update_totals_on_change validate-required" id="billing_country_field">
                                                <label for="billing_country" class="">Country <abbr class="required" title="required">*</abbr></label>
                                                <input type="text" class="input-text " name="billing_country" id="billing_country_chzn" placeholder="" value="" />
                                            </p>
                                            <p class="form-row form-row form-row-wide address-field validate-required" id="billing_address_1_field">
                                                <label for="billing_address_1" class="">Address <abbr class="required" title="required">*</abbr></label>
                                                <input type="text" class="input-text " name="billing_address_1" id="billing_address_1" placeholder="Street address" value="" />
                                            </p>
                                
                                            <div class="clear"></div>
                                            @*<p class="form-row form-row-wide create-account">
                                                <input class="input-checkbox" id="createaccount" type="checkbox" name="createaccount" value="1" />
                                                <label for="createaccount" class="checkbox">Create an account?</label>
                                            </p>
                                            <div class="create-account">
                                                <p>Create an account by entering the information below. If you are a returning customer please login at the top of the page.</p>
                                                <p class="form-row form-row validate-required" id="account_password_field">
                                                    <label for="account_password" class="">Account password <abbr class="required" title="required">*</abbr></label>
                                                    <input type="password" class="input-text " name="account_password" id="account_password" placeholder="Password" value="" />
                                                </p>
                                                <div class="clear"></div>
                                            </div>*@
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="woocommerce-shipping-fields">
                                            <h3 id="ship-to-different-address" style="margin-bottom:95px"></h3>
                                            <div class="shipping_address">
                                                <p class="form-row form-row form-row-wide address-field" id="billing_address_2_field">
                                                    <input type="text" class="input-text " name="billing_address_2" id="billing_address_2" placeholder="Apartment, suite, unit etc. (optional)" value="" />
                                                </p>
                                                <p class="form-row form-row form-row-wide address-field validate-required" id="billing_city_field">
                                                    <label for="billing_city" class="">Town / City <abbr class="required" title="required">*</abbr></label>
                                                    <input type="text" class="input-text " name="billing_city" id="billing_city" placeholder="" value="" />
                                                </p>
                                                <p class="form-row form-row form-row-first address-field validate-state" id="billing_state_field">
                                                    <label for="billing_state" class="">County</label>
                                                    <input type="text" class="input-text " value="" placeholder="" name="billing_state" id="billing_state" />
                                                </p>
                                                <p class="form-row form-row form-row-last address-field validate-required validate-postcode" id="billing_postcode_field">
                                                    <label for="billing_postcode" class="">Postcode <abbr class="required" title="required">*</abbr></label>
                                                    <input type="text" class="input-text " name="billing_postcode" id="billing_postcode" placeholder="" value="" />
                                                </p>
                                                <div class="clear"></div>
                                            </div>
                                            <p class="form-row form-row notes" id="order_comments_field">
                                                <label for="order_comments" class="">Order Notes</label>
                                                <textarea name="order_comments" class="input-text " id="order_comments" placeholder="Notes about your order, e.g. special notes for delivery." rows="2" cols="5"></textarea>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <h3 id="order_review_heading">Your order</h3>
                                <div id="order_review" class="woocommerce-checkout-review-order">
                                    @if (Model != null && Model.ListItem != null && Model.ListItem.Any())
                                    {
                                        <table class="shop_table woocommerce-checkout-review-order-table">
                                            <thead>
                                                <tr>
                                                    <th class="product-name">Product</th>
                                                    <th class="product-price">Price</th>
                                                    <th class="product-total">Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                               @foreach (var item in Model.ListItem)
                                               {
                                                    <tr class="cart_item_@item.ProductID">
                                                        <td class="product-name">
                                                            @string.Format("{0}", !string.IsNullOrEmpty(item.ProductName) && item.ProductName.Length > 35 ? item.ProductName.Substring(0, 35) + "..." : item.ProductName)&nbsp;
                                                            <strong>x @item.Quantity</strong>
                                                        </td>
                                                        <td class="product-price">@item.Price.ToString("#,0") đ</td>
                                                        <td class="product-total">
                                                            <span class="amount">@item.TotalPrice.ToString("#,0") đ</span>
                                                        </td>
                                                    </tr>
                                               }
                                            </tbody>
                                            <tfoot>
                                                <tr class="cart-subtotal">
                                                    <th>Subtotal</th>
                                                    <td colspan="2">
                                                        <span class="amount subtotalamount">@Model.SubTotalPrice.ToString("#,0") đ</span>
                                                    </td>
                                                </tr>
                                                <tr class="shipping">
                                                    <th>Shipping</th>
                                                    <td colspan="2" data-title="Shipping">
                                                        <p>Shipping costs will be calculated once you have provided your address.</p>
                                                    </td>
                                                </tr>
                                                <tr class="order-total">
                                                    <th>Total</th>
                                                    <td colspan="2">
                                                        <strong>
                                                            <span class="amount totalbillamout">@Model.TotalPrice.ToString("#,0") đ</span>
                                                        </strong>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                        <div id="payment" class="woocommerce-checkout-payment">
                                            <div class="form-row place-order">
                                                <input type="submit" class="button alt" name="woocommerce_checkout_place_order" id="place_order" value="Place order" data-value="Place order" />
                                            </div>
                                        </div>
                                    }

                                </div>
                            </form>
                        </div>
                        <div class="social-bookmark"></div>
                        <div class="social-share"></div>
                    </div>
                </section>
            </div>
        </div>

    </div>
</div>    