@model CMS_DTO.CMSOrder.CMS_CheckOutModels
<style>
    th {
        background-color: #a0ca50 !important;
    }

    .field-validation-error.label-danger {
        background-color: #d9534f;
    }
    .label {
        display: inline;
        padding: .2em .6em .3em;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25em;
    }
</style>
<link href="@Url.Content("~/Libraries/plugins/bootstrap/css/bootstrap.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/Libraries/plugins/bootstrap/js/bootstrap.min.js")"></script>
<div class="wrapper">
    <div class="inner-wrapper">
        <div id="main">
            <section class='title-section'>
                <div class="title-wrapper">
                    <div class="container">
                        <div class="border-title aligncenter">
                            <h1>Thanh toán</h1>
                            @*<h6>Mua những bộ sưu tập độc quyền của chúng tôi, để có một cuộc sống tốt hơn.</h6>*@
                        </div>
                    </div>
                </div>
            </section>
            <div class="container">
                <section id="primary" class="content-full-width">
                    <div id="post-7" class="post-7 page type-page status-publish hentry">
                        <div class="woocommerce">
                            <div class="woocommerce-info">Have a coupon? Click here to enter your code</div>
                            <form class="checkout_coupon" method="post" style="display: block;">
                            <p class="form-row form-row-first"> 
                                <input type="text" name="coupon_code" class="input-text" placeholder="Coupon code" id="coupon_code" value="">
                                <label id="lblInfo"></label>
                            </p>
                            <p class="form-row form-row-last"> 
                                <input type="button" class="button" name="apply_coupon" value="Apply Coupon" onclick="ApplyCoupon();">
                            </p>
                            <div class="clear"></div>
                            </form>
                           
                            <form name="checkout" method="post" class="checkout woocommerce-checkout" action="@Url.Action("CheckOut", "Shop")" enctype="multipart/form-data">
                                <div class="col2-set" id="customer_details">
                                    <div class="col-1">
                                        <div class="woocommerce-billing-fields">
                                            <h3>Chi tiết thanh toán</h3>
                                            <p class="form-row form-row form-row-first validate-required" id="billing_first_name_field">
                                                <label for="billing_first_name" class="">Họ <abbr class="required" title="required">*</abbr></label>
                                                @Html.HiddenFor(model => model.Customer.Id)
                                                @Html.HiddenFor(model => model.DiscountID, new { @id="txtDiscount"})
                                                @Html.HiddenFor(model => model.DiscountType, new { @id="txtDiscountType"})
                                                @Html.HiddenFor(model => model.DiscountValue,new { @id="txtDiscountValue"})
                                                @Html.TextBoxFor(model => model.Customer.FirstName,new { @class= "input-text",@id= "billing_first_name", placeholder = "" })
                                                @Html.ValidationMessageFor(model => model.Customer.FirstName, null, new { @class= "label label-danger" })
                                            </p>
                                            <p class="form-row form-row form-row-last validate-required" id="billing_last_name_field">
                                                <label for="billing_last_name" class="">Tên <abbr class="required" title="required">*</abbr></label>
                                                @Html.TextBoxFor(model => model.Customer.LastName, new { @class= "input-text",@id= "billing_last_name", placeholder = "" })
                                                @Html.ValidationMessageFor(model => model.Customer.LastName, null, new { @class="label label-danger"})
                                            </p>
                                            <div class="clear"></div>
                                            <p class="form-row form-row form-row-wide" id="billing_company_field">
                                                <label for="billing_company" class="">Tên công ty</label>
                                                @Html.TextBoxFor(model => model.Customer.Company, new { @class= "input-text",@id= "billing_company", placeholder = "" })
                                                @Html.ValidationMessageFor(model => model.Customer.Company, null, new { @class="label label-danger"})
                                            </p>
                                            <p class="form-row form-row form-row-first validate-required validate-email" id="billing_email_field">
                                                <label for="billing_email" class="">Email <abbr class="required" title="required">*</abbr></label>
                                                @Html.TextBoxFor(model => model.Customer.Email, new { @class= "input-text",@id= "billing_email", placeholder = "" })
                                                @Html.ValidationMessageFor(model => model.Customer.Email, null, new { @class="label label-danger"})
                                            </p>
                                            <p class="form-row form-row form-row-last validate-required validate-phone" id="billing_phone_field">
                                                <label for="billing_phone" class="">Điện thoại <abbr class="required" title="required">*</abbr></label>
                                                @Html.TextBoxFor(model => model.Customer.Phone, new { @class= "input-text",@id= "billing_phone", placeholder = "" })
                                                @Html.ValidationMessageFor(model => model.Customer.Phone, null, new { @class="label label-danger"})
                                            </p>
                                            <div class="clear"></div>
                                            <p class="form-row form-row form-row-wide address-field update_totals_on_change validate-required" id="billing_country_field">
                                                <label for="billing_country" class="">Quốc gia <abbr class="required" title="required">*</abbr></label>
                                                @Html.TextBoxFor(model => model.Customer.Country, new { @class= "input-text",@id= "billing_country_chzn" , placeholder = "" })
                                                @Html.ValidationMessageFor(model => model.Customer.Country, null, new { @class="label label-danger"})
                                            </p>
                                            <p class="form-row form-row form-row-wide address-field validate-required" id="billing_address_1_field">
                                                <label for="billing_address_1" class="">Địa chỉ <abbr class="required" title="required">*</abbr></label>
                                                @Html.TextBoxFor(model => model.Customer.Address, new { @class= "input-text",@id= "billing_address_1", placeholder = "Địa chỉ đường phố" })
                                                @Html.ValidationMessageFor(model => model.Customer.Address, null, new { @class="label label-danger"})
                                            </p>
                                
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="woocommerce-shipping-fields">
                                            <h3 id="ship-to-different-address" style="margin-bottom:36px"></h3>
                                            <div class="shipping_address">
                                                <p class="form-row form-row form-row-wide address-field validate-required" id="billing_city_field">
                                                    <label for="billing_city" class="">Thị trấn / Thành phố<abbr class="required" title="required">*</abbr></label>
                                                    @Html.TextBoxFor(model => model.Customer.City, new { @class= "input-text",@id= "billing_city", placeholder = "" })
                                                    @Html.ValidationMessageFor(model => model.Customer.City, null, new { @class="label label-danger"})
                                                </p>
                                                <p class="form-row form-row address-field validate-required validate-postcode" id="billing_postcode_field">
                                                    <label for="billing_postcode" class="">Mã bưu điện <abbr class="required" title="required">*</abbr></label>
                                                    @Html.TextBoxFor(model => model.Customer.PostCode, new { @class = "input-text", @id = "billing_postcode", placeholder = "" })
                                                    @Html.ValidationMessageFor(model => model.Customer.PostCode, null, new { @class = "label label-danger" })
                                                </p>
                                                <div class="clear"></div>
                                            </div>
                                            <p class="form-row form-row notes" id="order_comments_field">
                                                <label for="order_comments" class="">Ghi chú</label>
                                                @Html.TextAreaFor(model => model.Customer.Description, new { @class= "input-text",@id= "order_comments", placeholder = "Lưu ý về đơn đặt hàng của bạn, ví dụ: ghi chú đặc biệt để giao hàng.", rows = "2", cols = "5",@style="height:245px;" })
                                                @Html.ValidationMessageFor(model => model.Customer.Description, null, new { @class="label label-danger"})                                            
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <h3 id="order_review_heading">Đơn hàng của bạn</h3>
                                @if (Model.IsError)
                                {
                                    <div class="">
                                        <div class="alert alert-danger fade in">
                                            <i class="fa-fw fa fa-remove"></i>
                                            <strong>Error! </strong>
                                            <span>Đơn hàng của bạn giao dịch không thành công, vui lòng thử lại</span>
                                        </div>
                                    </div>
                                }
                                
                                <div id="order_review" class="woocommerce-checkout-review-order">
                                    @if (Model != null && Model.ListItem != null && Model.ListItem.Any())
                                    {
                                        <table class="shop_table woocommerce-checkout-review-order-table">
                                            <thead>
                                                <tr>
                                                    <th class="product-name">Sản phẩm</th>
                                                    <th class="product-price">Giá</th>
                                                    <th class="product-total">Thành tiền</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                               @foreach (var item in Model.ListItem)
                                               {
                                                    <tr class="cart_item_@item.ProductID">
                                                        <td class="product-name">
                                                            @string.Format("{0}", !string.IsNullOrEmpty(item.ProductName) && item.ProductName.Length > 35 ? item.ProductName.Substring(0, 35) + "..." : item.ProductName)&nbsp;
                                                            <strong>x @item.Quantity</strong>
                                                        </td>
                                                        <td class="product-price">@item.Price.ToString("#,0") đ</td>
                                                        <td class="product-total">
                                                            <span class="amount">@item.TotalPrice.ToString("#,0") đ</span>
                                                        </td>
                                                    </tr>
                                               }
                                            </tbody>
                                            <tfoot>
                                                <tr class="cart-subtotal">
                                                    <th>Thành tiền (Chưa VAT)</th>
                                                    <td colspan="2">
                                                        <span class="amount subtotalamount">@Model.SubTotalPrice.ToString("#,0") đ</span>
                                                    </td>
                                                </tr>
                                                <tr class="shipping">
                                                    <th>Vận chuyển</th>
                                                    <td colspan="2" data-title="Shipping">
                                                        <p>Phí vận chuyển sẽ được ước tính khi bạn nhập địa chỉ.</p>
                                                    </td>
                                                </tr>
                                                <tr class="order-total">
                                                    <th>Thành tiền</th>
                                                    <td colspan="2">
                                                        <strong>
                                                            <span class="amount totalbillamout">@Model.TotalPrice.ToString("#,0") đ</span>
                                                        </strong>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                        <div id="payment" class="woocommerce-checkout-payment">
                                            <div class="form-row place-order">
                                                <input type="submit" class="button alt" name="woocommerce_checkout_place_order" id="place_order" value="Đặt hàng" data-value="Đặt hàng" />
                                            </div>
                                        </div>
                                    }

                                </div>
                            </form>
                        </div>
                        <div class="social-bookmark"></div>
                        <div class="social-share"></div>
                    </div>
                </section>
            </div>
        </div>

    </div>
</div>   

<script>
    function ApplyCoupon() {
        var coupon_code = $('[id=coupon_code]').val();
        $.ajax({
            url: "@Url.Action("Discount","Shop")",
            type: "post",
            data: { coupon_code: coupon_code },
            success: function (data) {
                var msg = "";
                if (data.Status == 200)
                {
                    msg = "Bạn được giảm giá " + data.data.ValueText + "";
                    $('[id=txtDiscount]').val(data.data.Id);
                    $('[id=txtDiscountType]').val(data.data.ValueType);
                    $('[id=txtDiscountValue]').val(data.data.Value);
                    $('[id=coupon_code]').attr("disabled", true);
                }
                else {
                    msg = "Mã giảm giá của bạn không tồn tại";
                }
                $('[id=lblInfo]').text(msg);
            },
            error: function (jqXHR, textStatus, errorThrown) {
            }
        });
    }
</script> 