@model CMS_DTO.CMSShop.CMS_ShopViewModels
<div class="wrapper">
    <div class="inner-wrapper">
        <div id="main">
            <section class='title-section'>
                <div class="title-wrapper">
                    <div class="container">
                        <div class="border-title aligncenter">
                            <h1>Shop</h1>
                            <h6>Shop our exclusive collections. Earn a better living.</h6>
                        </div>
                    </div>
                </div>
            </section>
            <div class="container">
                <section id='primary' class='page-with-sidebar with-right-sidebar'>
                    @if (Model != null && Model.Products != null && Model.Products.Any())
                    {
                        string _first = "first";
                        string _last = "";
                        var _index = 1;
                        <ul class="products">
                            @foreach (var item in Model.Products)
                            {
                                if (_index == 1)
                                {
                                    _first = "first";
                                }
                                else
                                {
                                    _first = "";
                                }

                                <li class="@_first @_last post-93 product type-product status-publish has-post-thumbnail product_cat-music product_cat-singles pif-has-gallery downloadable shipping-taxable purchasable product-type-simple product-cat-music product-cat-singles instock">
                                    <div class='product-wrapper  product-three-column in-stock-product '>
                                        <div class="product-container">
                                            <a href="javascript:void(0)">
                                                <div class="product-thumb">
                                                    <img width="1000" height="1000" src="@item.ImageURL"
                                                         class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="@item.ImageURL 1000w, @item.ImageURL 150w, @item.ImageURL 300w, @item.ImageURL 90w, @item.ImageURL 550w"
                                                         sizes="(max-width: 1000px) 100vw, 1000px" />
                                                    <img width="500" height="500" src="@item.ImageURL"
                                                         class="secondary-image attachment-shop-catalog" alt="" srcset="@item.ImageURL 550w, @item.ImageURL 150w, @item.ImageURL 300w, @item.ImageURL 90w, @item.ImageURL 1000w"
                                                         sizes="(max-width: 500px) 100vw, 500px" />
                                                </div>
                                                <div class='product-title'>
                                                    <h3>@item.ProductName</h3>
                                                    <p>@string.Format("{0}",!string.IsNullOrEmpty(item.Description) && item.Description.Length >30 ? item.Description.Substring(0,30) + "..." : item.Description)</p>
                                                </div>
                                            </a>
                                            <div class='product-details'>
                                                <span class="price">
                                                    <span class="amount">&pound; @item.ProductPrice.ToString("#,0")</span>
                                                </span>
                                                <div class='product-buttons'>
                                                    <a rel="nofollow" href="javascript:void(0)" data-quantity="1" data-product_id="93" data-product_sku=""
                                                       class="small button button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a>
                                                    <div class="yith-wcwl-add-to-wishlist add-to-wishlist-93">
                                                        <div class="yith-wcwl-add-button show" style="display:block">
                                                            <a href="/shop/?add_to_wishlist=93" rel="nofollow" data-product-id="93" data-product-type="simple"
                                                               class="add_to_wishlist">Add to Wishlist</a>
                                                            <img src="@Url.Content("~/Images/wpspin_light.gif")"
                                                                 class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden" />
                                                        </div>
                                                        <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
                                                            <span class="feedback">Product added!</span>
                                                            <a href="javascript:void(0)" rel="nofollow"> Browse Wishlist </a>
                                                        </div>
                                                        <div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none">
                                                            <span class="feedback">The product is already in the wishlist!</span>
                                                            <a href="javascript:void(0)"
                                                               rel="nofollow">Browse Wishlist</a>
                                                        </div>
                                                        <div style="clear:both"></div>
                                                        <div class="yith-wcwl-wishlistaddresponse"></div>
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                if (_index == 3)
                                {
                                    _last = "last";
                                    _index = 1;
                                }
                                else
                                {
                                    _last = "";
                                    _index = _index + 1;
                                }

                            }
                        </ul>
                    }

                    @if (Model != null && Model.TotalPage > 0)
                    {
                        <div class="pagination product-pagination">
                            <div class="prev-post"></div>
                            <ul class=''>
                                @for (var i = 1; i <= Model.TotalPage; i++)
                                {
                                    if (i == 1)
                                    {
                                        <li class='active-page'>@i</li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a href='javascript:void(0)' class='inactive'>@i</a>
                                        </li>
                                    }
                                }
                            </ul>
                            <div class="next-post">
                                <a href="javascript:void(0)">Next</a>
                            </div>
                        </div>
                    }

                </section>
                <section id='secondary-right' class='secondary-sidebar secondary-has-right-sidebar'>
                    @if (Model != null && Model.Categories != null && Model.Categories.Any())
                    {
                        var _parent = "";
                        <aside id="woocommerce_product_categories-3" class="widget woocommerce widget_product_categories">
                            <h3 class="widgettitle">Product Categories</h3>
                            <ul class="product-categories">
                                @foreach (var item in Model.Categories)
                                {
                                    if (item.Children != null && item.Children.Count > 0)
                                    {
                                        _parent = "cat-parent";
                                    }
                                    else
                                    {
                                        _parent = "";
                                    }

                                    <li class="cat-item cat-item-16 @_parent">
                                        <a href="javascript:void(0)">@item.Name</a>
                                        <span class="count">(@item.TotalProduct)</span>
                                        @if (item.Children != null && item.Children.Any())
                                        {
                                            <ul class='children'>
                                                @foreach (var itemchild in item.Children)
                                                {
                                                    <li class="cat-item cat-item-17">
                                                        <a href="javascript:void(0)">@itemchild.Name</a>
                                                        <span class="count">(@itemchild.TotalProduct)</span>
                                                    </li>
                                                }
                                            </ul>
                                        }       
                                    </li>
                                }
                            </ul>
                        </aside>
                    }
                    
                    <aside id="woocommerce_products-4" class="widget woocommerce widget_products">
                        <h3 class="widgettitle">Best Selling Products</h3>
                        <ul class="product_list_widget">
                            <li>
                                <a href="https://dreamspa.dttheme.com/product/spa-bars/" title="Spa Bars">
                                    <img width="90" height="90" src="https://dreamspa.dttheme.com/wp-content/uploads/2014/07/product16-90x90.jpg"
                                         class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="" srcset="https://dreamspa.dttheme.com/wp-content/uploads/2014/07/product16-90x90.jpg 90w, https://dreamspa.dttheme.com/wp-content/uploads/2014/07/product16-150x150.jpg 150w, https://dreamspa.dttheme.com/wp-content/uploads/2014/07/product16-300x300.jpg 300w, https://dreamspa.dttheme.com/wp-content/uploads/2014/07/product16-550x550.jpg 550w, https://dreamspa.dttheme.com/wp-content/uploads/2014/07/product16.jpg 1000w"
                                         sizes="(max-width: 90px) 100vw, 90px" />
                                    <span class="product-title">Spa Bars</span>
                                </a>
                                <del>
                                    <span class="amount">&pound;3.00</span>
                                </del>
                                <ins>
                                    <span class="amount">&pound;2.00</span>
                                </ins>
                            </li>
                            <li>
                                <a href="https://dreamspa.dttheme.com/product/wollen-spa-cloth/" title="Wollen Spa Cloth">
                                    <img width="90" height="90" src="https://dreamspa.dttheme.com/wp-content/uploads/2014/07/product17-90x90.jpg"
                                         class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="" srcset="https://dreamspa.dttheme.com/wp-content/uploads/2014/07/product17-90x90.jpg 90w, https://dreamspa.dttheme.com/wp-content/uploads/2014/07/product17-150x150.jpg 150w, https://dreamspa.dttheme.com/wp-content/uploads/2014/07/product17-300x300.jpg 300w, https://dreamspa.dttheme.com/wp-content/uploads/2014/07/product17-550x550.jpg 550w, https://dreamspa.dttheme.com/wp-content/uploads/2014/07/product17.jpg 1000w"
                                         sizes="(max-width: 90px) 100vw, 90px" />
                                    <span class="product-title">Wollen Spa Cloth</span>
                                </a>
                                <span class="amount">&pound;9.00</span>
                            </li>
                            <li>
                                <a href="https://dreamspa.dttheme.com/product/dry-aroma-petals-for-bath/" title="Dry Aroma Petals for Bath">
                                    <img width="90" height="90" src="https://dreamspa.dttheme.com/wp-content/uploads/2014/07/product18-90x90.jpg"
                                         class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="" srcset="https://dreamspa.dttheme.com/wp-content/uploads/2014/07/product18-90x90.jpg 90w, https://dreamspa.dttheme.com/wp-content/uploads/2014/07/product18-150x150.jpg 150w, https://dreamspa.dttheme.com/wp-content/uploads/2014/07/product18-300x300.jpg 300w, https://dreamspa.dttheme.com/wp-content/uploads/2014/07/product18-550x550.jpg 550w, https://dreamspa.dttheme.com/wp-content/uploads/2014/07/product18.jpg 1000w"
                                         sizes="(max-width: 90px) 100vw, 90px" />
                                    <span class="product-title">Dry Aroma Petals for Bath</span>
                                </a>
                                <span class="amount">&pound;3.00</span>
                            </li>
                        </ul>
                    </aside>
                    <aside id="woocommerce_price_filter-3" class="widget woocommerce widget_price_filter">
                        <h3 class="widgettitle">Filter by price</h3>
                        <form method="get" action="https://dreamspa.dttheme.com/shop/">
                            <div class="price_slider_wrapper">
                                <div class="price_slider" style="display:none;"></div>
                                <div class="price_slider_amount">
                                    <input type="text" id="min_price" name="min_price" value="" data-min="2" placeholder="Min price" />
                                    <input type="text" id="max_price" name="max_price" value="" data-max="35" placeholder="Max price" />
                                    <button type="submit" class="button">Filter</button>
                                    <div class="price_label" style="display:none;">
                                        Price:
                                        <span class="from"></span> &mdash;
                                        <span class="to"></span>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </form>
                    </aside>
                    <aside id="text-12" class="widget widget_text">
                        <div class="textwidget">
                            <img src="https://dreamspa.dttheme.com/wp-content/uploads/2014/07/shop-widget-discount.png" alt="" tite="" />
                        </div>
                    </aside>
                    <aside id="text-13" class="widget widget_text">
                        <div class="textwidget">
                            <img src="https://dreamspa.dttheme.com/wp-content/uploads/2014/07/shop-widget-special.png" alt="" tite="" />
                        </div>
                    </aside>
                </section>
            </div>
        </div>

    </div>
</div>
