
@model CMS_DTO.CMSProcedures.CMS_ProceduresModels
@using CMS_Common
@{
    Html.EnableUnobtrusiveJavaScript(true);
    var _ID = Model.Id;
}
@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.ImageUrl)
@Html.HiddenFor(model => model.StoreID)
@Html.HiddenFor(model => model.ProductTypeCode)

<style>
    .textcontent {
        height: 120px !important;
    }
</style>

<div class="row form-horizontal form-label-left" style="margin-bottom:15px;">
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12 lineHeight fontLighter">Hình ảnh</label>
        <div class="col-md-2 col-sm-2 col-xs-12">
            @if (!string.IsNullOrEmpty(Model.ImageUrl))
            {
                <img id="upload-preview" src="@Model.ImageUrl" height="100" width="100" class="" style="border-radius:100% !important" />
            }
            else
            {
                <img id="upload-preview" class="" src="@Commons.Image500_500" height="100" width="100" style="border-radius:100% !important" />
            }
        </div>
        <div class="col-md-1 col-sm-3 col-xs-12" style="line-height:55px;">
            <div class="upload-btn-wrapper" style="cursor:pointer;">
                <button class="btn btn-default" type="button" onclick="showPictureUpload();" style="margin-top:-6%;margin-left:50px">Chọn hình</button>
                @Html.TextBoxFor(model => model.PictureUpload, new { @type = "file", @onchange = "PreviewImage(this,\"upload-preview\")", @accept = "*.jpg", @class = "hidden", @id = "urlImage" })
            </div>
            @Html.ValidationMessageFor(model => model.PictureUpload, null, new { @class = "label label-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12 fontLighter">Mã Liệu trình <abbr class="required" title="required">*</abbr>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.TextBoxFor(model => model.ProductCode, new { @class = "form-control", @placeholder = "Mã liệu trình", @autocomplete = "off" })
            @Html.ValidationMessageFor(model => model.ProductCode, null, new { @class = "label label-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12 lineHeight fontLighter">Tên liệu trình  <abbr class="required" title="required">*</abbr> </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.TextBoxFor(model => model.ProceduresName, new { @class = "form-control", @placeholder = "Tên liệu trình", @autocomplete = "off" })
            @Html.ValidationMessageFor(model => model.ProceduresName, null, new { @class = "label label-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12 lineHeight">Thể loại  <abbr class="required" title="required">*</abbr></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.DropDownListFor(model => model.CategoryId,
                new SelectList(ViewBag.Category, "Value", "Text", Model.CategoryId),"Vui lòng chọn thể loại",
                new
                {
                    @class = "form-control select2_multiple",
                    @id = "CategoryDdl",
                    @style = "width:100%;"
                })
            @Html.ValidationMessageFor(model => model.CategoryId, null, new { @class = "label label-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12 lineHeight fontLighter">Thời gian</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.TextBoxFor(model => model.Duration, new { @class = "form-control", @placeholder = "Thời gian", @autocomplete = "off" })
            @Html.ValidationMessageFor(model => model.Duration, null, new { @class = "label label-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12 lineHeight fontLighter">Giá <abbr class="required" title="required">*</abbr> </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.TextBoxFor(model => model.Price, new { @class = "form-control keyMoney", @placeholder = "Giá", @autocomplete = "off"})
            @Html.ValidationMessageFor(model => model.Price, null, new { @class = "label label-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12 fontLighter">Tiêu đề</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
            @Html.TextAreaFor(model => model.ShortDescription, new { @class = "form-control textcontent", placeholder = "Tiêu đề" })
            @Html.ValidationMessageFor(model => model.ShortDescription, null, new { @class = "label label-danger" })
        </div>
    </div>

    @*<div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12 lineHeight fontLighter">Thể loại cha</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.DropDownListFor(model => model.ParentId,
                new SelectList(ViewBag.Category, "Value", "Text", Model.ParentId),
                new
                {
                    @class = "form-control select2_multiple",
                    @id = "CategoryDdl",
                    @style = "width:100%;"
                })
                @Html.ValidationMessageFor(model => model.ParentId, null, new { @class = "label label-danger" })
            </div>
        </div>*@

    @*<div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12 fontLighter">Loại</label>
            <div class="col-md-2 col-sm-2 col-xs-12">
                <label class="radio-inline">
                    @Html.RadioButtonFor(model => model.ProductTypeCode, "2", new { @checked = "checked", @class = "icheck", @name = "Sản Phẩm" }) Sản Phẩm
                </label>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12">
                <label class="radio-inline">
                    @Html.RadioButtonFor(model => model.ProductTypeCode, "1", new { @class = "icheck", @name = "Dịch Vụ" }) Dịch Vụ
                </label>
            </div>
        </div>*@

    @*<div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12 fontLighter">Reservation</label>
            <div class="col-md-1 col-sm-1 col-xs-12">
                <label class="radio-inline">@Html.CheckBoxFor(model => model.IsShowInReservation, new { @class = "icheck" })</label>
            </div>
        </div>*@

    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12 fontLighter">Trạng thái</label>
        <div class="col-md-1 col-sm-1 col-xs-12">
            <label class="radio-inline">@Html.CheckBoxFor(model => model.IsActive, new { @class = "icheck" })</label>
        </div>
    </div>

    <!--Description-->
    @*<div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12 fontLighter">Chuẩn bị</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
                @Html.TextAreaFor(model => model.Preparation, new { @class = "form-control textcontent", placeholder = "Chuẩn bị" })
                @Html.ValidationMessageFor(model => model.Preparation, null, new { @class = "label" })
            </div>
        </div>*@

    <!--Description-->
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12 fontLighter">Quá trình</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
            @Html.TextAreaFor(model => model.Process, new { @class = "form-control ckeditor", placeholder = "Quá trình" })
            @Html.ValidationMessageFor(model => model.Process, null, new { @class = "label label-danger" })
        </div>
    </div>

    <!--Description-->
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12 fontLighter">Điều trị</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
            @Html.TextAreaFor(model => model.SpaTreatment, new { @class = "form-control ckeditor", placeholder = "Điều trị" })
            @Html.ValidationMessageFor(model => model.SpaTreatment, null, new { @class = "label label-danger" })
        </div>
    </div>

    <!--Description-->
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12 fontLighter">Mô tả</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control ckeditor", placeholder = "Mô tả" })
            @Html.ValidationMessageFor(model => model.Description, null, new { @class = "label label-danger" })
        </div>
    </div>

</div>
<script src="@Url.Content("~/Scripts/InputCustom.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#CategoryDdl").select2({
            placeholder: "Hãy chọn thể loại",
            //allowClear: true
        });
    })
    function showPictureUpload() {
        $('[id=urlImage]').click();
    }
</script>