@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model CMS_DTO.CMSProduct.ProductViewModels
@{
    var _ListSlider = Session["SliderSession"] as List<CMS_DTO.CMSSession.SliderSession>;
}

<style>
    .ls-thumbnail-hover {
        display: none !important;
    }
</style>
<link href="@Url.Content("~/Content/stylemodal.css")" rel="stylesheet" />
<div id="main">
    <div id="slider">
        <div id="slider-container">
            <div id="layerslider_1" class="ls-wp-container" style="width:100%;height:600px;margin:0 auto;margin-bottom: 0px;">
                @if (_ListSlider != null && _ListSlider.Any())
                {
                    for (int i = 0; i < _ListSlider.Count; i++)
                    {
                        var item = _ListSlider[i];
                        if (i == 0)
                        {
                            <div class="ls-slide" data-ls="slidedelay:9000; transition2d: all;">
                                <img src="@Url.Content("../Content/LayerSlider/static/css/blank.gif")" class="ls-bg" alt="slider1-bg" />
                                <img class="ls-l" style="top:23px;left:122px;white-space: nowrap;" data-ls="offsetxin:0;durationin:4000;rotateyin:200;transformoriginin:center 50% 0;offsetxout:0;durationout:2000;rotateyout:90;parallaxlevel:1;"
                                     src="@Url.Content("/Content/LayerSlider/static/css/blank.gif")" alt="">
                                <img class="ls-l" style="top:100px;left:-19px;white-space: nowrap;" data-ls="offsetxin:-50;scalexin:3;scaleyin:3;transformoriginin:25% 25% 0;offsetxout:-50;scalexout:0.5;scaleyout:0.5;parallaxlevel:-1;"
                                     src="@Url.Content("/Content/LayerSlider/static/css/blank.gif")" data-src="@Url.Content(item.ImageUrl)">
                                <h2 class="ls-l skin" style="top:150px;left:541px;font-family:'Open Sans', sans-serif; font-size:30px; letter-spacing:0px;white-space: nowrap;"
                                    data-ls="offsetxin:50;durationin:2000;delayin:3000;rotateyin:60;transformoriginin:right 50% 0;offsetxout:-50;durationout:2000;rotateyout:-60;transformoriginout:left 50% 0;">
                                    Vẻ đẹp tiềm ẩn từ thiên nhiên
                                </h2>
                                <h3 class="ls-l" style="top:205px;left:545px;color:#685e59; font-family:'Open Sans', sans-serif; font-style:italic; font-size:14px; font-weight:normal;white-space: nowrap;"
                                    data-ls="offsetxin:-50;durationin:3000;delayin:3500;rotateyin:-60;transformoriginin:left 50% 0;offsetxout:50;durationout:3000;rotateyout:60;">
                                    Lamode Spa - thiên nhiên Spa
                                </h3>
                            </div>
                        }
                        if (i == 1)
                        {
                            <div class="ls-slide" data-ls="slidedelay:7000; transition2d: all;">
                                <img src="@Url.Content("../Content/LayerSlider/static/css/blank.gif")" class="ls-bg" alt="slider2-bg" />
                                <img class="ls-l" style="top:0px;left:0px;white-space: nowrap;" data-ls="offsetxin:0;offsetyin:100;durationin:1800;scalexin:0.8;scaleyin:0.8;offsetxout:-100;offsetyout:50;" src="@Url.Content("/Content/LayerSlider/static/css/blank.gif")" data-src="@Url.Content(item.ImageUrl)" alt="">
                                <h2 class="ls-l" style="top:245px;left:501px;font-family:'Open Sans', sans-serif; color:#9cc64d; font-size:26px; border-bottom:1px solid #d5d3c8; padding:0px 0px 10px; margin:0px 0px 10px; font-weight:normal; letter-spacing:0px;white-space: nowrap;" data-ls="durationin:1500;delayin:1000;rotatein:20;rotatexin:30;scalexin:1.5;scaleyin:1.5;transformoriginin:left 50% 0;durationout:750;rotateout:20;rotatexout:-30;transformoriginout:left 50% 0;">
                                    Mang đến trãi nghiệm siêu thực
                                </h2>
                                <h3 class="ls-l skin" style="top:295px;left:501px;font-weight:300; font-size:30px; text-transform:uppercase; font-family:'Open Sans', sans-serif;white-space: nowrap;" data-ls="offsetxin:0;durationin:1500;delayin:2000;rotateyin:90;skewxin:60;transformoriginin:25% 50% 0;offsetxout:100;durationout:750;skewxout:60;">
                                    Để bạn phải khâm phục.
                                </h3>
                            </div>
                        }
                        if (i == 2)
                        {
                            <div class="ls-slide" data-ls=" transition2d: all;">
                                <img src="@Url.Content("../Content/LayerSlider/static/css/blank.gif")" class="ls-bg" alt="slider3-bg" />
                                <img class="ls-l" style="top:0px;left:45px;white-space: nowrap;" data-ls="offsetxin:-100;transformoriginin:right 50% 0;transformoriginout:right 50% 0;"
                                     src="@Url.Content("/Content/LayerSlider/static/css/blank.gif")" data-src="@Url.Content(item.ImageUrl)" alt="">
                                <h2 class="ls-l" style="top:196px;left:505px;font-family:'Open Sans', sans-serif; color:#9cc64d; font-size:26px; border-bottom:1px solid #d5d3c8; padding:0px 0px 10px; margin:0px 0px 10px; font-weight:normal; letter-spacing:0px;white-space: nowrap;"
                                    data-ls="offsetxin:50;delayin:1000;skewxin:-50;offsetxout:-50;durationout:600;">
                                    Hãy đến và trãi nghiệm
                                </h2>
                                <h3 class="ls-l skin" style="top:244px;left:505px;font-weight:normal; font-size:30px; text-transform:uppercase; font-family:'Open Sans', sans-serif;white-space: nowrap;"
                                    data-ls="offsetxin:-100;delayin:2000;skewxin:-50;offsetxout:100;skewxout:50;">
                                    cải thiện sức sống từ thiên nhiên
                                </h3>
                                <h4 class="ls-l" style="top:293px;left:505px;color:#685e59; font-family:'Open Sans', sans-serif; font-style:italic; font-size:14px; font-weight:normal;white-space: nowrap;"
                                    data-ls="offsetxin:0;offsetyin:100;delayin:3000;offsetxout:-100;">
                                    Lamode Spa - thiên nhiên Spa
                                </h4>
                            </div>
                        }
                    }
                }
            </div>
        </div>
    </div>
    <section id="primary" class="content-full-width">
        <div id="post-105" class="post-105 page type-page status-publish hentry">
            <div class='dt-sc-hr-invisible  '></div>
            <div class='fullwidth-section ' style="background-repeat:no-repeat;background-position:left top;">
                <div class="container">
                    <div class="border-title aligncenter">
                        <h2>Khỏe Đẹp - Tự Tin - Hạnh Phúc</h2>
                        <h6>
                            Tại Lamode Spa, chúng tôi cung cấp dịch vụ đang dạng đến từ thiên nhiên. Hi vọng bạn sẽ dành thời gian đến đây để chúng tôi có thể tư vấn chuyên sâu hơn cho bạn.
                        </h6>
                    </div>
                    <div class='dt-sc-hr-invisible-small  '></div>
                    @if (Model != null && Model.ListCate != null && Model.ListCate.Any())
                    {
                        var _first = "first";
                        var _index = 1;
                        var _types = new string[] { "green", "chocolate", "blue" };
                        foreach (var item in Model.ListCate)
                        {
                            var _type = _types[_index - 1];
                            <div class='column dt-sc-one-third  space @_first'>
                                <div class='dt-sc-ico-content type1 @_type'>
                                    <a href="@Url.Action("category","Product",new { d= item.CategoryName, i = item.Id })">
                                        <div class='icon'>
                                            <span>
                                                <img src='@Url.Content("~/Images/services-ico"+_index+".png")' alt='' />
                                            </span>
                                        </div>
                                        <h2>@item.CategoryName</h2>
                                        <div class='image'>
                                            <img src='@item.ImageURL' alt='' title='' />
                                        </div>
                                    </a>

                                    <p>@Html.Raw(item.Description)</p>
                                </div>
                            </div>
                            _first = "";
                            _index = _index + 1;
                        }
                    }
                </div>
            </div>
            <div class='dt-sc-hr-invisible-medium  '></div>
            @if (Model != null && Model.ListProcedures != null && Model.ListProcedures.Any())
            {
                var _first = "first";
                <div class='fullwidth-section skin-white' style="background-color:#fcfcf7;background-image:url(@Url.Content("~/Images/border.png"));background-repeat:repeat-x;background-position:left top;padding-top:95px;">
                    <div class="container">
                        <div class="border-title aligncenter">
                            <h2>
                                Dịch vụ và liệu trình phổ biến
                            </h2>
                            <h6>
                                Dịch vụ tốt nhất và được yêu thích nhất.
                            </h6>
                        </div>
                        <div class='dt-sc-hr-invisible-small  '></div>
                        @foreach (var item in Model.ListProcedures)
                        {
                            <div class='column dt-sc-one-third  space @_first'>
                                <div class="dt-sc-popular-procedures with-image">
                                    <div class="dt-sc-popular-procedures-wrapper">
                                        <div class="border"></div>
                                        <a href="@Url.Action("Index","Product",new { product_name = item.ProceduresName,product_id=item.Id})">
                                            <div class='image'>
                                                <img src='@item.ImageUrl' alt='@item.ProceduresName' />
                                            </div>
                                        </a>
                                        <h2>@item.ProceduresName</h2>
                                        <p>
                                            @item.ShortDescription
                                        </p>
                                    </div>
                                    @*   <a href='#' class='dt-sc-button small'>Read More</a>*@
                                </div>
                            </div>
                            _first = "";
                        }

                        <div class='dt-sc-hr-invisible-medium  '></div>
                        <div class="border-title aligncenter">
                            <h2>
                                Sản phẩm nổi bật
                            </h2>
                            <h6>
                                Lamode Spa - cam kết chất lượng và sự hài lòng của khách hàng.
                            </h6>
                        </div>
                    </div>
                </div>
            }

            @if (Model != null && Model.ListProduct != null && Model.ListProduct.Any())
            {
                var _first = "first";
                var _index = 1;
                foreach (var item in Model.ListProduct)
                {
                    <div class='column no-space  dt-sc-one-fourth  @_first'>
                        <div id='dt_galleries-203' class='dt-gallery gallery no-space'>
                            <figure>
                                <img src='@item.ImageURL' width='1060' height='795'
                                     alt='' />
                                <div class="image-overlay">
                                    <div class="image-overlay-details">
                                        <h5>
                                            <a href="@Url.Action("Index","Product",new { product_name = item.ProductName,product_id=item.Id})">@item.ProductName</a>
                                        </h5>
                                        <div class="links">
                                            <a href='@item.ImageURL' data-gal='prettyPhoto[gallery]'>
                                                <span class='fa fa-search-plus'> </span>
                                            </a>
                                            <a target="_blank" href="@Url.Action("Index","Product",new { product_name = item.ProductName,product_id=item.Id})">
                                                <span class='fa fa-external-link'> </span>
                                            </a>
                                            <div class='views'>
                                                <span class='fa fa-heart'> </span>
                                                <a href="javascript:void(0)" class="likeThis" id="like-203" data-post-id="203"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="close-overlay hidden"> x </a>
                                </div>
                            </figure>
                        </div>
                    </div>
                    if (_index == 3)
                    {
                        _first = "first";
                        _index = 1;
                    }
                    else
                    {
                        _first = "";
                        _index = _index + 1;
                    }
                }
            }

            @*<div class='fullwidth-section '>
                    <div class="container">
                        <div class='dt-sc-hr-invisible  '></div>
                        <div class='dt-sc-callout-box with-icon type6 '>
                            <div class="dt-sc-callout-content">
                                <img src='https://dreamspa.dttheme.com/wp-content/uploads/2014/05/callout-image.png' alt='' />
                                <h5>
                                    We care for your beauty and fitness. DreamSpa will be the best suitable theme for your spa business and
                                    needs.
                                </h5>
                            </div>
                            <div class="dt-sc-callout-button">
                                <a href='#' class='dt-sc-button with-icon small' target='_blank'>
                                    <span>Purchase Theme</span>
                                    <i class='fa fa-download'></i>
                                </a>
                            </div>
                        </div>
                        <div class='dt-sc-hr-invisible  '></div>
                    </div>
                </div>*@

            @if (Model != null && Model.ListEmployee != null && Model.ListEmployee.Any())
            {
                <div class='fullwidth-section fullwidth-testimonial' style="background-color:#ffffff;background-repeat:no-repeat;background-position:left top;padding-top:30px;height:205px;">
                    <div class="container">
                        <div class='dt-sc-testimonial-carousel-wrapper type2'>
                            <ul class='dt-sc-testimonial-carousel'>
                                @foreach (var item in Model.ListEmployee)
                                {
                                    <li>
                                        <div class='dt-sc-testimonial'>
                                            <blockquote>
                                                @{
                                                    if (!string.IsNullOrEmpty(item.Quote))
                                                    {
                                                        <q>
                                                            @item.Quote
                                                        </q>
                                                    }
                                                    else
                                                    {
                                                        <q>
                                                            Cho mọi vẻ đẹp đều có một con mắt nhìn thấy vẻ đẹp ấy  ở một nơi nào đó. Cho mọi sự thực luôn có một cái tai  nghe thấu sự thực ấy . Cho mọi tình yêu đều có một trái tim ở  một nơi nào đó để đón nhận tình yêu ấy.
                                                        </q>
                                                    }
                                                }
                                            </blockquote>
                                            <cite> - @item.Name -</cite>
                                            <div class='author'>
                                                <span>
                                                    <img src='@item.ImageURL' alt='<cite> - @item.Name </cite>'
                                                         title='<cite> - @item.Name </cite>' />
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                }

                            </ul>
                            <div class="carousel-arrows">
                                <a href="" class="testimonial-prev">
                                    <span class="fa fa-angle-left"> </span>
                                </a>
                                <a href="" class="testimonial-next">
                                    <span class="fa fa-angle-right"> </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class='fullwidth-section' style="background-image:url(@Url.Content("~/Images/border.png"));background-repeat:repeat-x;padding-top:95px;">
                <div class="container">
                    @if (Model.LstDiscount != null && Model.LstDiscount.Any())
                    {
                        <h2>KHUYẾN MÃI ĐẶC BIỆT TRONG NGÀY HÔM NAY</h2>
                        <div class='dt-sc-images-carousel-wrapper' data-min='1' data-max='2' data-width='520'>
                            <ul class='dt-sc-images-carousel'>
                                @if (Model.LstDiscount != null && Model.LstDiscount.Any())
                                {
                                    foreach (var item in Model.LstDiscount)
                                    {
                                        <li>
                                            <a href="javascript:void(0)">
                                                <img title="@item.Name" src="@item.ImageURL" alt="@item.Name" />
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                            <div class="carousel-arrows">
                                <a href="" class="images-carousel-prev">
                                    <span class="fa fa-angle-left"> </span>
                                </a>
                                <a href="" class="images-carousel-next">
                                    <span class="fa fa-angle-right"> </span>
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class='dt-sc-hr-invisible-medium  '></div>
            <div class="container">
                <div class="social-bookmark"></div>
                <div class="social-share"></div>
            </div>
        </div>
    </section>

    <!--Modal QC-->
    @if (Model.LstDiscount != null && Model.LstDiscount.Any())
    {
        <div id="id01" class="modal">
            <form class="modal-content animate">
                <div class="imgcontainer">
                    <h2>KHUYẾN MÃI ĐẶC BIỆT TRONG NGÀY HÔM NAY</h2>
                  @*  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>*@
                </div>

                <div class="container">
                    
                    <div class='dt-sc-images-carousel-wrapper' data-min='1' data-max='2' data-width='520'>
                        <ul class='dt-sc-images-carousel'>
                            @if (Model.LstDiscount != null && Model.LstDiscount.Any())
                            {
                                foreach (var item in Model.LstDiscount)
                                {
                                    <li style="border:1px solid;box-shadow: 5px 5px 8px 0px #f3f3f3;">
                                        <a href="javascript:void(0)">
                                            <img title="@item.Name" src="@item.ImageURL" alt="@item.Name" />
                                        </a>
                                    </li>
                                }
                            }
                        </ul>
                        <div class="carousel-arrows">
                            <a href="" class="images-carousel-prev">
                                <span class="fa fa-angle-left"> </span>
                            </a>
                            <a href="" class="images-carousel-next">
                                <span class="fa fa-angle-right"> </span>
                            </a>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    }
    
</div>

@*<script data-cfasync="false" type="text/javascript">var lsjQuery = jQuery;</script>*@
<script data-cfasync="false" type="text/javascript">
    $("body").click(function () {
        document.getElementById('id01').style.display = 'none';
    })
    //$(document).ready(function () {
    //    //var lsjQuery = jQuery;
    //    if (typeof jQuery.fn.layerSlider == "undefined") { lsShowNotice('layerslider_1', 'jquery'); } else { $("#layerslider_1").layerSlider({ responsiveUnder: 1240, layersContainer: 1060, startInViewport: false, skinsPath: 'https://dreamspa.dttheme.com/wp-content/plugins/LayerSlider/static/skins/' }) }
    //})
    jQuery(document).ready(function () { if (typeof jQuery.fn.layerSlider == "undefined") { lsShowNotice('layerslider_1', 'jquery'); } else { jQuery("#layerslider_1").layerSlider({ responsiveUnder: 1240, layersContainer: 1060, startInViewport: false, skinsPath: '../Content/LayerSlider/static/skins/' }) } });
</script>