
@model CMS_DTO.CMSReservation.CMS_ReservationViewModels
@using CMS_Common
@{
    Html.EnableUnobtrusiveJavaScript(true);
    var _ID = Model.Id;
}
@Html.HiddenFor(model =>model.Id)

<div class="row form-horizontal form-label-left" style="margin-bottom:15px;">
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12 lineHeight fontLighter">Khách hàng</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.TextBoxFor(model => model.CustomerName, new { @class = "form-control", @placeholder = "Tên khách hàng", @autocomplete = "off" })
            @Html.ValidationMessageFor(model => model.CustomerName, null, new { @class = "label label-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12 lineHeight fontLighter">Số điện thoại</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", @placeholder = "Số điện thoại", @autocomplete = "off" })
            @Html.ValidationMessageFor(model => model.Phone, null, new { @class = "label label-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12 lineHeight fontLighter">Liệu trình</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.DropDownListFor(model => model.ProductID,
                    new SelectList(ViewBag.Product, "Value", "Text", Model.ProductID), "Vui lòng chọn liệu trình",
                    new
                    {
                        @class = "form-control select2_multiple",
                        @id = "CategoryDdl",
                        @style = "width:100%;"
                    })
            @Html.ValidationMessageFor(model => model.ProductID, null, new { @class = "label label-danger" })
        </div>
    </div>

    @*<div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12 lineHeight fontLighter">Nhân viên</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.DropDownListFor(model => model.EmployeeID,
                    new SelectList(ViewBag.Employee, "Value", "Text", Model.EmployeeID), "Vui lòng chọn nhân viên",
                    new
                    {
                        @class = "form-control select2_multiple",
                        @id = "EmployeeDdl",
                        @style = "width:100%;"
                    })
            @Html.ValidationMessageFor(model => model.EmployeeID, null, new { @class = "label label-danger" })
        </div>
    </div>*@

    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12 lineHeight fontLighter">Ngày đặt</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.TextBoxFor(model => model.BookDay, new { @class = "form-control datepicker1 has-feedback-left", @placeholder = "Ngày đặt", @autocomplete = "off" })
            @Html.ValidationMessageFor(model => model.BookDay, null, new { @class = "label label-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12 lineHeight fontLighter">Thời gian bắt đầu</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.DropDownListFor(model => model.From,
                    new SelectList(ViewBag.From, "Value", "Text", Model.From), "Vui lòng chọn thời gian",
                    new
                    {
                        @class = "form-control select2_multiple",
                        @id = "FromDdl",
                        @style = "width:100%;"
                    })
            @Html.ValidationMessageFor(model => model.From, null, new { @class = "label label-danger" })
        </div>
    </div>

</div>
<script src="@Url.Content("~/Scripts/InputCustom.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.datepicker1').daterangepicker({
            singleDatePicker: true,
            calender_style: "picker_2",
            maxDate: new Date(),
            //==========
            showDropdowns: true,
            locale: {
                format: 'DD/MM/YYYY',
                daysOfWeek: ['CN', 'Hai', 'Ba', 'Tư', 'Năm', 'Sáu', 'Bảy'],
                monthNames: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12']
            }
        }, function (start, end, label) {
            });
        
        $("#CategoryDdl").select2({
            placeholder: "Vui lòng chọn liệu trình",
            //allowClear: true
        });

        $("#EmployeeDdl").select2({
            placeholder: "Vui lòng chọn nhân viên",
            //allowClear: true
        });

        $("#FromDdl").select2({
            placeholder: "Vui lòng chọn thời gian",
            //allowClear: true
        });

        $("#ToDdl").select2({
            placeholder: "Vui lòng chọn thời gian",
            //allowClear: true
        });
    })
</script>