@model CMS_DTO.CMSReservation.CMS_ReservationViewModels
@using CMS_Shared
<div role="main" style="display:inline-block;height:100%;width:100%">
    @*<div class="se-pre-con" style="display: none;"></div>*@
    <div class="page-title">
        <!-- BEGIN PAGE BAR -->
        @Html.Partial("_breadcrumb", new Dictionary<string, string> { { "A", "Trang chủ" }, { "B", "Đặt chỗ - Xem" } })
        <!-- END PAGE BAR -->
    </div>
    <div class="page-main">
        <div class="col-md-12 col-sm-12 col-xs-12 x_panel">
            <div class="x_content">
                <div class="row text-right">
                    <ul class="header-buttons pull-right list-inline">
                        <li>
                            <a href="javascript:void(0)" class="btn btn-danger" id="btn-delete" onclick="CloseDetail()">
                                <i class="fa fa-times"></i>
                                &nbsp;Hủy
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="box-body" style="display: block;">
                    <div class="row form-horizontal form-label-left" style="margin-bottom:15px;">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12 fontLighter">Khách hàng</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label style="margin-top:1%">@Model.CustomerName</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12 fontLighter">Email</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label style="margin-top:1%">@Model.Email</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12 fontLighter">Số điện thoại</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label style="margin-top:1%">@Model.Phone</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12 fontLighter">Địa chỉ</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label style="margin-top:1%">@Model.Address</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12 fontLighter">Nhân viên</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label style="margin-top:1%">@Model.EmployeeName</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12 fontLighter">Ngày</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label style="margin-top:1%">@Model.BookDay</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12 fontLighter">Thời gian bắt đầu</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label style="margin-top:1%">@Model.From</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12 fontLighter">Thời gian kết thúc</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label style="margin-top:1%">@Model.To</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
